<div class="side-wrapper">
    <div class="side">
        <div class="side-inner">
            <div class="side-user">
                <span class="avatar" style="background-image: url('');"></span>
                <span class="side-user-avatar-name">
              <strong>Admin, Admin apellido</strong>
              <span>System administrator</span>
            </span>
                <a routerLink="/dashboard/settings" class="side-user-avatar-action">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <!-- /.side-user -->
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/settings" (click)="collapseSidebar()">{{'global.menu.account.settings' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/password" (click)="collapseSidebar()">{{'global.menu.account.password' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/" (click)="logout()" (click)="collapseSidebar()">{{'global.menu.account.logout' | translate}}</a></li>
            </ul>
        </div>
        <!-- /.side-inner -->
    </div>
    <!-- /.side -->
</div>
