<div class="side-wrapper">
    <div class="side">
        <div class="side-inner">
            <div class="side-user">
                <span class="avatar" style="background-image: url('');"></span>
                <span class="side-user-avatar-name">
              <strong>William F. Kane</strong>
              <span>System administrator</span>
            </span>
                <a href="#" class="side-user-avatar-action">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <!-- /.side-user -->
            <ul class="nav flex-column">
                <li class="nav-item"><a href="admin-dashboard.html" class="nav-link">Author Dashboard</a></li>
                <li class="nav-item"><a href="admin-listings.html" class="nav-link">Listings Queue</a></li>
                <li class="nav-item"><a href="admin-projects.html" class="nav-link">Running Projects</a></li>
                <li class="nav-item"><a href="admin-tasks.html" class="nav-link">Tasks Management</a></li>
                <li class="nav-item"><a href="admin-users.html" class="nav-link">User Accounts</a></li>
            </ul>
            <h3>Welcome Back</h3>
            <form class="form-dark" method="post" action="?">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <!-- /.form-group -->
                <button class="btn btn-primary pull-right" type="submit">Login</button>
            </form>
        </div>
        <!-- /.side-inner -->
    </div>
    <!-- /.side -->
</div>
