<section id="why-us" class="block">
  <div class="container">
    <header><h2>Why Us?</h2></header>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="feature-box">
          <i class="fa fa-thumbs-up"></i>
          <div class="description">
            <h3>Lorem ipsum dolor </h3>
            <p>
              Praesent tempor a erat in iaculis. Phasellus vitae libero libero. Vestibulum ante
              ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            </p>
          </div>
        </div>
        <!--/.feature-box-->
      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 col-sm-4">
        <div class="feature-box">
          <i class="fa fa-folder"></i>
          <div class="description">
            <h3>Etiam vehicula felis a ipsum</h3>
            <p>
              Pellentesque nisl quam, aliquet sed velit eu, varius condimentum nunc.
              Nunc vulputate turpis ut erat egestas, vitae rutrum sapien varius.
            </p>
          </div>
        </div>
        <!--/.feature-box-->
      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 col-sm-4">
        <div class="feature-box">
          <i class="fa fa-money"></i>
          <div class="description">
            <h3>Donec dolor justo, volutpat </h3>
            <p>
              Maecenas quis ipsum lectus. Fusce molestie, metus ut consequat pulvinar,
              ipsum quam condimentum leo, sit amet auctor lacus nulla at felis.
            </p>
          </div>
        </div>
        <!--/.feature-box-->
      </div>
      <!--/.col-md-4-->
    </div>
  </div>
</section>
