<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="uplaceApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <up-alert-error></up-alert-error>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.location.latitude" for="field_latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="location.latitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.location.cp" for="field_cp">Cp</label>
            <input type="text" class="form-control" name="cp" id="field_cp"
                [(ngModel)]="location.cp" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.location.longitude" for="field_longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="location.longitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.location.urlGmaps" for="field_urlGmaps">Url Gmaps</label>
            <input type="text" class="form-control" name="urlGmaps" id="field_urlGmaps"
                [(ngModel)]="location.urlGmaps" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
