
<div *ngIf="location">
    <h2><span jhiTranslate="uplaceApp.location.detail.title">Location</span> {{location.id}}</h2>
    <hr>
    <up-alert-error></up-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="uplaceApp.location.latitude">Latitude</span></dt>
        <dd>
            <span>{{location.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.location.postalCode">Postal Code</span></dt>
        <dd>
            <span>{{location.postalCode}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.location.longitude">Longitude</span></dt>
        <dd>
            <span>{{location.longitude}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.location.urlGmaps">Url Gmaps</span></dt>
        <dd>
            <span>{{location.urlGmaps}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
