<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPhotoLabel" jhiTranslate="uplaceApp.photo.home.createOrEditLabel">Create or edit a Photo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <up-alert-error></up-alert-error>
        <div class="form-group" [hidden]="!photo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="photo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.photo.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="photo.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.photo.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="photo.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.photo.photo" for="field_photo">Photo</label>
            <div>
                <img [src]="'data:' + photo.photoContentType + ';base64,' + photo.photo" style="max-height: 100px;" *ngIf="photo.photo" alt="photo image"/>
                <div *ngIf="photo.photo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{photo.photoContentType}}, {{byteSize(photo.photo)}}</span>
                    <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_photo" (change)="setFileData($event, photo, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                [(ngModel)]="photo.photo" />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                [(ngModel)]="photo.photoContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.photo.gallery" for="field_gallery">Gallery</label>
            <select class="form-control" id="field_gallery" name="gallery" [(ngModel)]="photo.galleryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="galleryOption.id" *ngFor="let galleryOption of galleries; trackBy: trackGalleryById">{{galleryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
