<fieldset [ngSwitch]="property.propertyType">
    <legend>Amenities</legend>
    <div class="row" *ngSwitchCase="'Apartment'">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                    <div class="form-check">
                        <label class="form-check-label">
                            Feature
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible"
                                       name="visible"><span class="indicator"></span>
                            </div>
                        </label>
                    </div>
                    <!-- /.form-check -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.checkbox-list -->
</fieldset>
