<section id="partners" class="block">
  <div class="container">
    <header><h2>Partners</h2></header>
    <div class="logos">
      <div class="logo"><a href="#"><img src="../../../../content/img/logo-partner-01.png" alt=""></a></div>
      <div class="logo"><a href="#"><img src="../../../../content/img/logo-partner-02.png" alt=""></a></div>
      <div class="logo"><a href="#"><img src="../../../../content/img/logo-partner-03.png" alt=""></a></div>
      <div class="logo"><a href="#"><img src="../../../../content/img/logo-partner-04.png" alt=""></a></div>
      <div class="logo"><a href="#"><img src="../../../../content/img/logo-partner-05.png" alt=""></a></div>
    </div>
  </div>
  <!--/.container-->
</section>
