<div class="container-fluid">
    <!--<nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <a class="breadcrumb-item" href="#">Library</a>
        <a class="breadcrumb-item" href="#">Data</a>
        <span class="breadcrumb-item active">Bootstrap</span>
    </nav>-->
    <div class="cards">
        <div class="box">
            <div class="box-inner">
                <div class="box-title clearfix">
                    <div class="form-group">
                        <label>Search Real Estate</label>
                        <ng-select [items]="realEstatesFiltered"
                                   bindLabel="name"
                                   [typeahead]="searchTerm"
                                   (close)="realEstatesFiltered = realEstates"
                                   [(ngModel)]="realEstate"
                                   (clear)="onClear()"
                                   (change)="onChange($event)">>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" *ngFor="let property of properties">
                        <div class="card card-dark" style="background-image: url();">
                            <div class="card-inner">
                                <!-- /.card-close -->
                                <div class="card-attribute">{{property.location.fullAddress}}</div>
                                <div class="card-content">
                                    <h2><a [routerLink]="['/dashboard/properties/', property.reference]">{{property.title}}</a></h2>
                                    <p>{{property.propertyType}}</p>
                                </div>
                                <!-- /.card-content -->
                            </div>
                            <!-- /.card-inner -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>

    </div>
    <!-- /.cards -->
</div>
