<div class="container-fluid">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <a class="breadcrumb-item" href="#">Library</a>
        <a class="breadcrumb-item" href="#">Data</a>
        <span class="breadcrumb-item active">Bootstrap</span>
    </nav>
    <div class="table-header clearfix">
        <div class="table-header-count">
            <strong>2082</strong> results matching query
        </div>
        <!-- /.table-header-count -->
        <div class="table-header-actions">
            <a href="#" class="btn btn-primary"><i class="fa fa-filter"></i> Apply filters</a>
            <a href="#" class="btn"><i class="fa fa-download"></i> Export All</a>
        </div>
        <!-- /.table-header-actions -->
    </div>
    <!-- /.table-header -->
    <div class="box">
        <div class="box-inner">
            <div class="box-title clearfix">
                <h2>Task Managment</h2>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                        Actions
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Workflow Action</a>
                        <a class="dropdown-item" href="#">Change Values</a>
                        <a class="dropdown-item" href="#">Delete Item</a>
                    </div>
                </div>
            </div>
            <!-- /.box-title -->
            <div class="table-wrapper">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="min-width center">
                            <input type="checkbox">
                        </th>
                        <th class="min-width">Status</th>
                        <th>Assigned</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="separator">
                        <td colspan="4">
                            193 completed tasks from 829
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-3.jpg')"></div>
                            <h2>
                                <a href="#">Trevor M. Utt</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#123] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-2.jpg')"></div>
                            <h2>
                                <a href="#">Tyler D. Kyles</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#234] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-1.jpg')"></div>
                            <h2>
                                <a href="#">Amanda D. Cassell</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#2929] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-4.jpg')"></div>
                            <h2>
                                <a href="#">Paula T. Pendarvis</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#7567] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-6.jpg')"></div>
                            <h2>
                                <a href="#">Paul N. Rock</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#34648] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-7.jpg')"></div>
                            <h2>
                                <a href="#">Melissa B. Schneider</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#3948] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-8.jpg')"></div>
                            <h2>
                                <a href="#">Effie B. Levine</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#7069] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-check"></i></td>
                        <td class="title">
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-5.jpg')"></div>
                            <h2>
                                <a href="#">Barbara N. Bunting</a>
                                <span class="label label-success">Needs Review</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#3452] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="separator">
                        <td colspan="4">
                            492 tasks are behind the deadline
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-7.jpg')"></div>
                            <h2>
                                <a href="#">Melissa B. Schneider</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#3948] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-8.jpg')"></div>
                            <h2>
                                <a href="#">Effie B. Levine</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#7069] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-6.jpg')"></div>
                            <h2>
                                <a href="#">Paul N. Rock</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#34648] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-2.jpg')"></div>
                            <h2>
                                <a href="#">Tyler D. Kyles</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#234] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-5.jpg')"></div>
                            <h2>
                                <a href="#">Barbara N. Bunting</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#3452] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-1.jpg')"></div>
                            <h2>
                                <a href="#">Amanda D. Cassell</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#2929] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-3.jpg')"></div>
                            <h2>
                                <a href="#">Trevor M. Utt</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#123] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="min-width center">
                            <input type="checkbox">
                        </td>
                        <td class="min-width center status"><i class="fa fa-times"></i></td>
                        <td>
                            <div class="avatar" style="background-image: url('assets/img/tmp/user-4.jpg')"></div>
                            <h2>
                                <a href="#">Paula T. Pendarvis</a>
                                <span class="label label-danger">Overdue</span>
                            </h2>
                        </td>
                        <td>
                            <h2>
                                <a href="#">[#7567] Create business plan for client</a>
                                <span>Sed aliquam ut orci tristique rhoncus. Phasellus sollicitudin ex</span>
                            </h2>
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Workflow Action</a>
                                    <a class="dropdown-item" href="#">Change Values</a>
                                    <a class="dropdown-item" href="#">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-wrapper -->
        </div>
        <!-- /.box-inner -->
    </div>
    <!-- /.box -->
    <ul class="pagination pull-right">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>
