<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myApartmentLabel" jhiTranslate="uplaceApp.apartment.home.createOrEditLabel">Create or edit a Apartment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <up-alert-error></up-alert-error>
        <div class="form-group" [hidden]="!apartment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="apartment.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="numberBedrooms" id="field_title"
                   [(ngModel)]="apartment.title" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.property.created" for="field_created">Created</label>
            <div class="d-flex">
                <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="apartment.created"
                       required/>
            </div>
            <div [hidden]="!(editForm.controls.created?.dirty && editForm.controls.created?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.created?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.created?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="numberBedrooms" id="field_price"
                   [(ngModel)]="apartment.price" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_surface">Surface</label>
            <input type="number" class="form-control" name="numberBedrooms" id="field_surface"
                   [(ngModel)]="apartment.surface" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.numberBedrooms" for="field_numberBedrooms">Number Bedrooms</label>
            <input type="number" class="form-control" name="numberBedrooms" id="field_numberBedrooms"
                [(ngModel)]="apartment.numberBedrooms" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.numberBathrooms" for="field_numberBathrooms">Number Bathrooms</label>
            <input type="number" class="form-control" name="numberBathrooms" id="field_numberBathrooms"
                [(ngModel)]="apartment.numberBathrooms" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.elevator" for="field_elevator">Elevator</label>
            <select class="form-control" name="elevator" [(ngModel)]="apartment.elevator" id="field_elevator" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.ac" for="field_ac">Ac</label>
            <select class="form-control" name="ac" [(ngModel)]="apartment.ac" id="field_ac" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.heat" for="field_heat">Heat</label>
            <select class="form-control" name="heat" [(ngModel)]="apartment.heat" id="field_heat" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.surfaceTerrace" for="field_surfaceTerrace">Surface Terrace</label>
            <input type="number" class="form-control" name="surfaceTerrace" id="field_surfaceTerrace"
                [(ngModel)]="apartment.surfaceTerrace" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.surfaceSaloon" for="field_surfaceSaloon">Surface Saloon</label>
            <input type="number" class="form-control" name="surfaceSaloon" id="field_surfaceSaloon"
                [(ngModel)]="apartment.surfaceSaloon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.propertyType" for="field_propertyType">Property Type</label>
            <select class="form-control" name="propertyType" [(ngModel)]="apartment.propertyType" id="field_propertyType" >
                <option value="HOUSE">{{'uplaceApp.ApartmentType.HOUSE' | translate}}</option>
                <option value="RURAL">{{'uplaceApp.ApartmentType.RURAL' | translate}}</option>
                <option value="FLAT">{{'uplaceApp.ApartmentType.FLAT' | translate}}</option>
                <option value="APARTMENT">{{'uplaceApp.ApartmentType.APARTMENT' | translate}}</option>
                <option value="TOWER">{{'uplaceApp.ApartmentType.TOWER' | translate}}</option>
                <option value="LOFT">{{'uplaceApp.ApartmentType.LOFT' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.office" for="field_office">Office</label>
            <select class="form-control" name="office" [(ngModel)]="apartment.office" id="field_office" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.kitchenOffice" for="field_kitchenOffice">Kitchen Office</label>
            <select class="form-control" name="kitchenOffice" [(ngModel)]="apartment.kitchenOffice" id="field_kitchenOffice" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.storage" for="field_storage">Storage</label>
            <select class="form-control" name="storage" [(ngModel)]="apartment.storage" id="field_storage" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.sharedPool" for="field_sharedPool">Shared Pool</label>
            <select class="form-control" name="sharedPool" [(ngModel)]="apartment.sharedPool" id="field_sharedPool" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.nearTransport" for="field_nearTransport">Near Transport</label>
            <select class="form-control" name="nearTransport" [(ngModel)]="apartment.nearTransport" id="field_nearTransport" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
