<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myApartmentLabel" jhiTranslate="uplaceApp.apartment.home.createOrEditLabel">Create or edit a Apartment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <up-alert-error></up-alert-error>
        <div class="form-group" [hidden]="!apartment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="apartment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.numberBedrooms" for="field_numberBedrooms">Number Bedrooms</label>
            <input type="number" class="form-control" name="numberBedrooms" id="field_numberBedrooms"
                [(ngModel)]="apartment.numberBedrooms" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.numberBathrooms" for="field_numberBathrooms">Number Bathrooms</label>
            <input type="number" class="form-control" name="numberBathrooms" id="field_numberBathrooms"
                [(ngModel)]="apartment.numberBathrooms" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.m2Edified" for="field_m2Edified">M 2 Edified</label>
            <input type="number" class="form-control" name="m2Edified" id="field_m2Edified"
                [(ngModel)]="apartment.m2Edified" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.m2Usable" for="field_m2Usable">M 2 Usable</label>
            <input type="number" class="form-control" name="m2Usable" id="field_m2Usable"
                [(ngModel)]="apartment.m2Usable" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.height" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                [(ngModel)]="apartment.height" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.elevator" for="field_elevator">Elevator</label>
            <select class="form-control" name="elevator" [(ngModel)]="apartment.elevator" id="field_elevator" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.ac" for="field_ac">Ac</label>
            <select class="form-control" name="ac" [(ngModel)]="apartment.ac" id="field_ac" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.heat" for="field_heat">Heat</label>
            <select class="form-control" name="heat" [(ngModel)]="apartment.heat" id="field_heat" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.parking" for="field_parking">Parking</label>
            <select class="form-control" name="parking" [(ngModel)]="apartment.parking" id="field_parking" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.terrace" for="field_terrace">Terrace</label>
            <select class="form-control" name="terrace" [(ngModel)]="apartment.terrace" id="field_terrace" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.balcony" for="field_balcony">Balcony</label>
            <select class="form-control" name="balcony" [(ngModel)]="apartment.balcony" id="field_balcony" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.surfaceTerrace" for="field_surfaceTerrace">Surface Terrace</label>
            <input type="number" class="form-control" name="surfaceTerrace" id="field_surfaceTerrace"
                [(ngModel)]="apartment.surfaceTerrace" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.surfaceSaloon" for="field_surfaceSaloon">Surface Saloon</label>
            <input type="number" class="form-control" name="surfaceSaloon" id="field_surfaceSaloon"
                [(ngModel)]="apartment.surfaceSaloon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="apartment.type" id="field_type" >
                <option value="HOUSES">{{'uplaceApp.ApartmentType.HOUSES' | translate}}</option>
                <option value="RURALS">{{'uplaceApp.ApartmentType.RURALS' | translate}}</option>
                <option value="FLATS">{{'uplaceApp.ApartmentType.FLATS' | translate}}</option>
                <option value="APARTMENTS">{{'uplaceApp.ApartmentType.APARTMENTS' | translate}}</option>
                <option value="TOWERS">{{'uplaceApp.ApartmentType.TOWERS' | translate}}</option>
                <option value="LOFTS">{{'uplaceApp.ApartmentType.LOFTS' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.office" for="field_office">Office</label>
            <select class="form-control" name="office" [(ngModel)]="apartment.office" id="field_office" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.kitchenOffice" for="field_kitchenOffice">Kitchen Office</label>
            <select class="form-control" name="kitchenOffice" [(ngModel)]="apartment.kitchenOffice" id="field_kitchenOffice" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.storage" for="field_storage">Storage</label>
            <select class="form-control" name="storage" [(ngModel)]="apartment.storage" id="field_storage" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.sharedPool" for="field_sharedPool">Shared Pool</label>
            <select class="form-control" name="sharedPool" [(ngModel)]="apartment.sharedPool" id="field_sharedPool" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.nearTransport" for="field_nearTransport">Near Transport</label>
            <select class="form-control" name="nearTransport" [(ngModel)]="apartment.nearTransport" id="field_nearTransport" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.reformed" for="field_reformed">Reformed</label>
            <select class="form-control" name="reformed" [(ngModel)]="apartment.reformed" id="field_reformed" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.energyCertificate" for="field_energyCertificate">Energy Certificate</label>
            <select class="form-control" name="energyCertificate" [(ngModel)]="apartment.energyCertificate" id="field_energyCertificate" >
                <option value="A">{{'uplaceApp.EnergyCertificate.A' | translate}}</option>
                <option value="B">{{'uplaceApp.EnergyCertificate.B' | translate}}</option>
                <option value="C">{{'uplaceApp.EnergyCertificate.C' | translate}}</option>
                <option value="D">{{'uplaceApp.EnergyCertificate.D' | translate}}</option>
                <option value="E">{{'uplaceApp.EnergyCertificate.E' | translate}}</option>
                <option value="F">{{'uplaceApp.EnergyCertificate.F' | translate}}</option>
                <option value="G">{{'uplaceApp.EnergyCertificate.G' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.EnergyCertificate.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.apartment.certificateHabitability" for="field_certificateHabitability">Certificate Habitability</label>
            <select class="form-control" name="certificateHabitability" [(ngModel)]="apartment.certificateHabitability" id="field_certificateHabitability" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
