<div>
    <h2>
        <span jhiTranslate="uplaceApp.apartment.home.title">Apartments</span>
        <button class="btn btn-primary float-right jh-create-entity create-apartment" [routerLink]="['/', { outlets: { popup: ['apartment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="uplaceApp.apartment.home.createLabel">
            Create new Apartment
            </span>
        </button>
    </h2>
    <up-alert></up-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="apartments">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span>Title</span></th>
                <th><span>Created</span></th>
                <th><span>Price</span></th>
                <th><span>Surface</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.numberBedrooms">Number Bedrooms</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.numberBathrooms">Number Bathrooms</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.elevator">Elevator</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.ac">Ac</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.heat">Heat</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.surfaceTerrace">Surface Terrace</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.surfaceSaloon">Surface Saloon</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.propertyType">Property Type</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.office">Office</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.kitchenOffice">Kitchen Office</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.storage">Storage</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.sharedPool">Shared Pool</span></th>
                <th><span jhiTranslate="uplaceApp.apartment.nearTransport">Near Transport</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apartment of apartments ;trackBy: trackId">
                <td><a [routerLink]="['../apartment', apartment.id ]">{{apartment.id}}</a></td>
                <td>{{apartment.title}}</td>
                <td>{{apartment.created | date}}</td>
                <td>{{apartment.price}}</td>
                <td>{{apartment.surface}}</td>
                <td>{{apartment.numberBedrooms}}</td>
                <td>{{apartment.numberBathrooms}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.elevator}}">{{apartment.elevator}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.ac}}">{{apartment.ac}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.heat}}">{{apartment.heat}}</td>
                <td>{{apartment.surfaceTerrace}}</td>
                <td>{{apartment.surfaceSaloon}}</td>
                <td jhiTranslate="{{'uplaceApp.ApartmentType.' + apartment.propertyType}}">{{apartment.propertyType}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.office}}">{{apartment.office}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.kitchenOffice}}">{{apartment.kitchenOffice}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.storage}}">{{apartment.storage}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.sharedPool}}">{{apartment.sharedPool}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + apartment.nearTransport}}">{{apartment.nearTransport}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../apartment', apartment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'apartment/'+ apartment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'apartment/'+ apartment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
