<div class="listing-tabs mt-80">
    <div class="listing-tabs-header mb-30">
        <h2>Search for the <strong>best properties</strong></h2>
    </div>
    <!-- /.listing-tabs-header -->
        <div class="listing-boxes">
            <div class="row">
                <div class="col-sm-3" *ngFor="let property of properties">
                    <div class="listing-box">
                        <div class="listing-box-inner">
                            <!--<div class="listing-box-info">
                                Special opening prices available.
                            </div>-->
                            <!-- /.listing-box-info -->
                            <a [routerLink]="['property' , property.reference]" class="listing-box-image">
                                <span class="listing-box-image-content" [ngStyle]="{'background-image' : property.photos.length > 0 ? 'url(' + property.photos[0].photoUrl + ')' : 'url()'}"></span>
                                <span class="listing-box-category tag">{{property.propertyType}}</span>
                                <span class="listing-box-type tag" style="margin-bottom: 0px" property-price [property]="property" emptyValue="N/D"></span>
                            </a><!-- /.listing-box-image -->
                            <div class="listing-box-content">
                                <h2><a [routerLink]="['property' , property.reference]">{{property.title}}</a></h2>
                                <h3 *ngIf="property.location">{{property.location.fullAddress}}</h3>
                                <!--<div class="actions">
                                    <div class="actions-button">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    &lt;!&ndash; /.actions-button &ndash;&gt;
                                    <ul class="actions-list">
                                        <li><a href="#">Add to compare</a></li>
                                        <li><a href="#">Add to favorites</a></li>
                                        <li><a href="#">Report listing</a></li>
                                    </ul>
                                    &lt;!&ndash; /.actions-list &ndash;&gt;
                                </div>-->
                                <!-- /.actions -->
                            </div>
                            <!-- /.listing-box-content -->
                            <div class="listing-box-attributes">
                                <dl [ngSwitch]="property.propertyType">
                                    <ng-container *ngSwitchCase="'IndustrialPlant'">
                                        <dt>Surface</dt>
                                        <dd>{{property.surface}}</dd>
                                        <dt>M2 Offices</dt>
                                        <dd>{{property.m2Offices}}</dd>
                                        <dt>Number docks</dt>
                                        <dd>{{property.numberDocks}}</dd>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'Apartment'">
                                        <dt>Surface</dt>
                                        <dd>{{property.surface}}</dd>
                                        <dt>Shared pool</dt>
                                        <dd>{{property.sharedPool}}</dd>
                                        <dt>Balcony</dt>
                                        <dd>{{property.balcony}}</dd>
                                    </ng-container>
                                </dl>
                            </div>
                            <!-- /.listing-box-attributes -->
                            <div class="listing-box-attributes-icons">
                                <ul>
                                    <li><i class="fa fa-arrows"></i> <span>{{property.surface}}</span></li>
                                    <li><i class="fa fa-shower"></i> <span>{{property.m2Usable}}</span></li>
                                    <li><i class="fa fa-car"></i> <span>{{property.m2Offices}}</span></li>
                                </ul>
                            </div>
                            <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                    </div>
                    <!-- /.listing-box -->
                </div>
                <!-- /.col-* -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.listing-boxes -->
    </div>
<!-- /.listing-tabs-content -->
</div>
