<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <a class="breadcrumb-item" href="#">Library</a>
        <a class="breadcrumb-item" href="#">Data</a>
        <span class="breadcrumb-item active">Bootstrap</span>
    </nav>
    <up-alert-error></up-alert-error>
    <form method="post" action="?" class="mb80" (submit)="onSubmit($event)" #newPropertyForm="ngForm">
        <fieldset>
            <legend>
                <div class="pull-left">Basic Information</div>
                <div class="pull-right">
                    <label class="form-check-label">
                        Visible
                        <div class="checkbox-wrapper">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible" name="visible"><span class="indicator"></span>
                        </div>
                    </label>
                </div>
            </legend>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" [(ngModel)]="property.title" name="title" required>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="6" [(ngModel)]="property.description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label>Surface</label>
                <input type="number" class="form-control" [(ngModel)]="property.surface" name="surface" required>
            </div>
            <div class="form-group">
                <label>property Type</label>
                <select [(ngModel)]="property.propertyType" class="form-control" name="propertyType" required>
                    <option *ngFor="let type of propertyTypes" [ngValue]="type" >{{type}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Year construction</label>
                <input type="number" class="form-control" [(ngModel)]="property.yearConstruction" name="yearConstruction" required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!newPropertyForm.valid">Submit</button>
            <!-- /.form-group -->
        </fieldset>
        <fieldset>
            <legend>Payment Information</legend>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="uplaceApp.property.transaction" for="field_transaction">Transaction</label>
                        <select class="form-control" [(ngModel)]="property.transaction" name="transaction" id="field_transaction" required>
                            <option *ngFor="let transaction of transactionTypes | keys" [value]="transaction.key">{{'uplaceApp.TransactionType.' +  transaction.value | translate}}</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4" *ngIf="property.transaction && (property.transaction == transactionTypes.RENT_BUY || property.transaction == transactionTypes.RENT)">
                    <div class="form-group">
                        <label>Price rent</label>
                        <input type="number" class="form-control" [(ngModel)]="property.priceRent" name="priceRent" required>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4" *ngIf="property.transaction && (property.transaction == transactionTypes.RENT_BUY || property.transaction == transactionTypes.BUY)">
                    <div class="form-group">
                        <label>Price buy</label>
                        <input type="number" class="form-control" [(ngModel)]="property.priceSell" name="priceSell" required>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->

                <!-- /.col-* -->
                <div class="col-sm-4" *ngIf="property.transaction == transactionTypes.TRANSFER">
                    <div class="form-group">
                        <label>Price transfer</label>
                        <input type="number" class="form-control" [(ngModel)]="property.price" name="priceSell" required>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
            </div>
            <!-- /.row -->
        </fieldset>
        <fieldset>
            <legend>Location</legend>
            <div class="row">
                <div class="col-sm-6">
                    <agm-map [latitude]="latitude" [streetViewControl]="false" [longitude]="longitude" [zoom]="14" id="location-google-map" style="height: 450px;">
                        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerMoved($event)"></agm-marker>
                    </agm-map>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control location-google-map-search" >
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Latitude</label>
                        <input type="text" class="form-control" id="listing_location_latitude" [(ngModel)]="latitude" name="latitude">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Longitude</label>
                        <input type="text" class="form-control" id="listing_location_longitude" [(ngModel)]="longitude" name="longitude">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Country</label>
                        <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Location</label>
                        <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Sublocation</label>
                        <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                </div>
            </div>
            <!-- /.row -->
        </fieldset>
        <fieldset>
            <legend>Contact Information</legend>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
            </div>
        </fieldset>
        <fieldset>
            <legend>Amenities</legend>
            <div class="checkbox-list">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Air conditioning
                    </label>
                </div>
                <!-- /.form-check -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Balcony
                    </label>
                </div>
                <!-- /.form-check -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Bedding
                    </label>
                </div>
                <!-- /.form-check -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Cable TV
                    </label>
                </div>
                <!-- /.form-check -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Cleaning after exit
                    </label>
                </div>
                <!-- /.form-check -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Cofee pot
                    </label>
                </div>
                <!-- /.form-check -->
            </div>
            <!-- /.checkbox-list -->
        </fieldset>
        <fieldset>
            <legend>Additional Information</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> Send me newsletter
                </label>
            </div>
            <!-- /.form-check -->
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> I agree with terms &amp; conditions
                </label>
            </div>
            <!-- /.form-check -->
        </fieldset>
    </form>
</div>
