<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Home</a>
        <a class="breadcrumb-item" href="#">Library</a>
        <a class="breadcrumb-item" href="#">Data</a>
        <span class="breadcrumb-item active">Bootstrap</span>
    </nav>
    <up-alert-error></up-alert-error>
    <up-alert></up-alert>
    <form class="mb80" (ngSubmit)="onSubmit()" #newPropertyForm="ngForm">
        <fieldset>
            <legend>
                <div class="pull-left">Basic Information</div>
                <div class="pull-right">
                    <label class="form-check-label">
                        Visible
                        <div class="checkbox-wrapper">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="property.visible" name="visible"><span class="indicator"></span>
                        </div>
                    </label>
                </div>
            </legend>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" [(ngModel)]="property.title" name="title" required>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="6" [(ngModel)]="property.description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label>Surface</label>
                <input type="number" class="form-control" [(ngModel)]="property.surface" name="surface" required>
            </div>
            <div class="form-group">
                <label>property Type</label>
                <select [(ngModel)]="property.propertyType" class="form-control" name="propertyType" required>
                    <option *ngFor="let type of propertyTypes" [ngValue]="type" >{{type}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Year construction</label>
                <input type="number" class="form-control" [(ngModel)]="property.yearConstruction" name="yearConstruction" required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!newPropertyForm.valid">Submit</button>
            <!-- /.form-group -->
        </fieldset>
        <fieldset>
            <legend>Payment Information</legend>
            <div class="row">
<!--                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="uplaceApp.property.transaction" for="field_transaction">Transaction</label>
                        <select class="form-control" [(ngModel)]="property.transaction" name="transaction" id="field_transaction" required>
                            <option *ngFor="let transaction of transactionTypes | keys" [value]="transaction.key">{{'uplaceApp.TransactionType.' +  transaction.value | translate}}</option>
                        </select>
                    </div>
                    &lt;!&ndash; /.form-group &ndash;&gt;
                </div>
                &lt;!&ndash; /.col-* &ndash;&gt;
                <div class="col-sm-4" *ngIf="property.transaction && (property.transaction === transactionTypes.RENT_BUY || property.transaction === transactionTypes.RENT)">
                    <div class="form-group">
                        <label>Price rent</label>
                        <input type="number" class="form-control" [(ngModel)]="property.priceRent" name="priceRent" required>
                    </div>
                    &lt;!&ndash; /.form-group &ndash;&gt;
                </div>
                &lt;!&ndash; /.col-* &ndash;&gt;
                <div class="col-sm-4" *ngIf="property.transaction && (property.transaction === transactionTypes.RENT_BUY || property.transaction === transactionTypes.BUY)">
                    <div class="form-group">
                        <label>Price buy</label>
                        <input type="number" class="form-control" [(ngModel)]="property.priceSell" name="priceSell" required>
                    </div>
                    &lt;!&ndash; /.form-group &ndash;&gt;
                </div>-->
                <!-- /.col-* -->

                <!-- /.col-* -->
                <!--<div class="col-sm-4" *ngIf="property.transaction == transactionTypes.TRANSFER">-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Price transfer</label>
                        <input type="number" class="form-control" [(ngModel)]="property.price" name="price" required>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
            </div>
            <!-- /.row -->
        </fieldset>
        <fieldset>
            <up-property-estate [(realEstate)]="property.realEstate"></up-property-estate>
        </fieldset>
        <fieldset>
            <up-property-map [(location)]="property.location"></up-property-map>
        </fieldset>
        <fieldset>
            <up-property-amenities [property]="property"></up-property-amenities>
        </fieldset>
        <fieldset>
            <up-property-photos [(photos)]="property.photos"></up-property-photos>
        </fieldset>
    </form>
</div>
