<!-- /.widget -->
<div class="widget widget-background-white">
    <jhi-alert></jhi-alert>
    <up-alert></up-alert>
    <h3 class="widgettitle">Inquire Form</h3>
    <form (ngSubmit)="onSubmit()" #inquireForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First name" [(ngModel)]="request.firstName" name="firstname" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="request.lastName" name="lastname" required>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="request.email" name="email" email required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="request.phone" name="phone" required>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <textarea class="form-control" rows="4" [(ngModel)]="request.message" name="content">Message</textarea>
        </div>
        <!-- /.form-group -->
        <div class="form-group-btn">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!inquireForm.valid">Send Message</button>
        </div>
        <!-- /.form-group-btn -->
    </form>
</div>
<!-- /.widget -->
