<!-- /.widget -->
<div class="widget widget-background-white">
    <h3 class="widgettitle">Inquire Form</h3>
    <form (ngSubmit)="onSubmit()" #inquireForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Full name" [(ngModel)]="contact.mail.name" name="name" required>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="contact.mail.to" name="email" email required>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" [(ngModel)]="contact.mail.subject" name="subject">
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <textarea class="form-control" rows="4" [(ngModel)]="contact.mail.content" name="content">Message</textarea>
        </div>
        <!-- /.form-group -->
        <div class="form-group-btn">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!inquireForm.valid">Send Message</button>
        </div>
        <!-- /.form-group-btn -->
    </form>
</div>
<!-- /.widget -->
