
    <div class="inner">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!--New Items-->
                        <section>
                            <h2>New Items</h2>
                            <a href="#" class="item-horizontal small">
                                <h3>Cash Cow Restaurante</h3>
                                <figure>63 Birch Street</figure>
                                <div class="wrapper">
                                    <div class="image">
                                        <img src="../../../content/img/items/1.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </a>
                            <!--/.item-horizontal small-->
                            <a href="#" class="item-horizontal small">
                                <h3>Blue Chilli</h3>
                                <figure>2476 Whispering Pines Circle</figure>
                                <div class="wrapper">
                                    <div class="image">
                                        <img src="../../../content/img/items/2.jpg" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="3"></div>
                                    </div>
                                </div>
                            </a>
                            <!--/.item-horizontal small-->
                        </section>
                        <!--end New Items-->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!--Recent Reviews-->
                        <section>
                            <h2>Recent Reviews</h2>
                            <a href="#" class="review small">
                                <h3>Max Five Lounge</h3>
                                <figure>4365 Bruce Street</figure>
                                <div class="info">
                                    <div class="rating" data-rating="4"></div>
                                    <div class="type">
                                        <i><img src="../../../content/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non suscipit felis,
                                    sed sagittis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    Cras ac placerat mauris.
                                </p>
                            </a><!--/.review-->
                            <a href="#" class="review small">
                                <h3>Saguaro Tavern</h3>
                                <figure>2476 Whispering Pines Circle</figure>
                                <div class="info">
                                    <div class="rating" data-rating="5"></div>
                                    <div class="type">
                                        <i><img src="../../../content/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span>
                                    </div>
                                </div>
                                <p>
                                    Pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut
                                    mollis curabitur
                                </p>
                            </a>
                            <!--/.review-->
                        </section>
                        <!--end Recent Reviews-->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <section>
                            <h2>About Us</h2>
                            <address>
                                <div>Max Five Lounge</div>
                                <div>63 Birch Street</div>
                                <div>Granada Hills, CA 91344</div>
                                <figure>
                                    <div class="info">
                                        <i class="fa fa-mobile"></i>
                                        <span>818-832-5258</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span>+1 123 456 789</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-globe"></i>
                                        <a href="#">www.maxfivelounge.com</a>
                                    </div>
                                </figure>
                            </address>
                            <div class="social">
                                <a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-pinterest"></i></a>
                            </div>
                            <a href="#" class="btn framed icon">Contact Us<i class="fa fa-angle-right"></i></a>
                        </section>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-top-->
        <div class="footer-bottom">
            <div class="container">
                <span class="left">(C) ThemeStarz, All rights reserved</span>
                <span class="right">
                        <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                    </span>
            </div>
        </div>
        <!--/.footer-bottom-->
    </div>
