<div class="footer-wrapper">
    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <h3>
                                <img src="../../../content/img/logo.svg" class="svg" alt="Home">
                                {{company?.name}}
                                <span>The company who cares about you lives</span>
                            </h3>
                            <p>
                                {{company?.description}}
                            </p>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.col-* -->
                    <div class="col-lg-4">
                        <div class="widget">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/properties'">Properties</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.widget -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-lg-4">
                        <div class="widget">
                            <h3>Best deals in your inbox</h3>
                            <p>
                                Join our newsletter for the most recent information. FYI this is not working form, just
                                an example.
                            </p>
                            <form method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your e-mail address">
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group clearfix">
                                    <button type="submit" class="btn btn-primary pull-right">Join Newsletter</button>
                                </div>
                                <!-- /.form-group -->
                            </form>
                        </div>
                        <!-- /.widget -->
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.footer-inner -->
    </div>
    <!-- /.footer -->
</div>
