<div class="admin-sidebar">
    <div class="admin-sidebar-header">
        <div class="admin-sidebar-logo">
            <a href="admin-dashboard.html">
                <img class="svg" alt="Home">
            </a>
            <a href="admin-dashboard.html" class="admin-sidebar-logo-title">
                <strong>Explorer</strong>
                <span>Directory Template</span>
            </a>
        </div>
        <!-- /.admin-sidebar-logo -->
    </div>
    <!-- /.admin-sidebar-header -->
    <div class="admin-sidebar-content">
        <h3>General Objects</h3>
        <ul class="nav flex-column">
            <li class="nav-item has-sub-menu">
                <a href="admin-dashboard.html" class="nav-link active">
                    <i class="fa fa-tachometer"></i><span>Dashboard</span>
                </a>
                <ul>
                    <li><a href="admin-dashboard.html">Dark Expanded Sidebar</a></li>
                    <li><a href="admin-dashboard-light-sidebar.html">Light Sidebar</a></li>
                    <li><a href="admin-dashboard-minimal-sidebar.html">Compressed Sidebar</a></li>
                    <li><a href="admin-dashboard-light-minimal-sidebar.html">Light Compressed Sidebar</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="admin-listings.html" class="nav-link ">
                    <i class="fa fa-align-justify"></i><span>Listings</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-agencies.html" class="nav-link ">
                    <i class="fa fa-building"></i><span>Agencies</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-agents.html" class="nav-link ">
                    <i class="fa fa-briefcase"></i><span>Agents</span>
                </a>
            </li>
        </ul>
        <h3>Management Tools</h3>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="admin-projects.html" class="nav-link ">
                    <i class="fa fa-folder"></i><span>Projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-tasks.html" class="nav-link ">
                    <i class="fa fa-file-text"></i><span>Tasks</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-cards.html" class="nav-link ">
                    <i class="fa fa-th-large"></i><span>Cards</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-media.html" class="nav-link ">
                    <i class="fa fa-file-image-o"></i><span>Media</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-users.html" class="nav-link ">
                    <i class="fa fa-users"></i><span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-messages.html" class="nav-link ">
                    <i class="fa fa-bell"></i><span>Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-tables.html" class="nav-link ">
                    <i class="fa fa-table"></i><span>Tables</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="admin-forms.html" class="nav-link ">
                    <i class="fa fa-check-square"></i><span>Forms</span>
                </a>
            </li>
        </ul>
        <!-- /.nav -->
    </div>
    <!-- /.admin-sidebar-content -->
    <div class="admin-sidebar-footer">
        <strong>Need a help?</strong>
        <span>Call us +0-123-456-789</span>
    </div>
    <!-- /.admin-sidebar-footer -->
</div>
