<div class="block mb0">
    <div class="block-inner">
        <div class="page-header">
            <h2>Favorite Listing Categories</h2>
            <p>Easily assign categories &amp; tags to approved listings and then display categories with icons for better user experience.</p>
        </div>
        <div class="categories-wrapper">
            <div class="categories">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="category-column">
                            <h3><i class="fa fa-diamond"></i> Automotive</h3>
                            <ul>
                                <li><a href="#">Luxury Cars <span>32</span></a></li>
                                <li><a href="#">Scooters &amp; Bikes <span>32</span></a></li>
                                <li><a href="#">Sport cars <span>32</span></a></li>
                                <li><a href="#">SUVs &amp; Pickups <span>32</span></a></li>
                                <li><a href="#">Vans &amp; Trucks <span>32</span></a></li>
                            </ul>
                        </div>
                        <!-- /.category-column -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-3">
                        <div class="category-column">
                            <h3><i class="fa fa-diamond"></i> Business</h3>
                            <ul>
                                <li><a href="#">Animals &amp; Greenpeace <span>32</span></a></li>
                                <li><a href="#">Art &amp; Music <span>32</span></a></li>
                                <li><a href="#">Finance &amp; Marketing <span>32</span></a></li>
                                <li><a href="#">Food &amp; Gastronomy <span>32</span></a></li>
                                <li><a href="#">Industrial &amp; Mechanics <span>32</span></a></li>
                            </ul>
                        </div>
                        <!-- /.category-column -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-3">
                        <div class="category-column">
                            <h3><i class="fa fa-diamond"></i> Education</h3>
                            <ul>
                                <li><a href="#">Courses <span>32</span></a></li>
                                <li><a href="#">Driving lessons <span>32</span></a></li>
                                <li><a href="#">Lectures <span>32</span></a></li>
                                <li><a href="#">Seminars <span>32</span></a></li>
                                <li><a href="#">Workshops <span>32</span></a></li>
                            </ul>
                        </div>
                        <!-- /.category-column -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-md-6 col-lg-3">
                        <div class="category-column">
                            <h3><i class="fa fa-diamond"></i> Events</h3>
                            <ul>
                                <li><a href="#">Cooking &amp; Baking <span>32</span></a></li>
                                <li><a href="#">Global problems <span>32</span></a></li>
                                <li><a href="#">Greenpeace <span>32</span></a></li>
                                <li><a href="#">IT World <span>32</span></a></li>
                                <li><a href="#">Music <span>32</span></a></li>
                            </ul>
                        </div>
                        <!-- /.category-column -->
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.categories -->
        </div>
        <!-- /.categories-wrapper -->
    </div>
    <!-- /.block-inner -->
</div>
