<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIndustrialPlantLabel" jhiTranslate="uplaceApp.industrialPlant.home.createOrEditLabel">Create or edit a Industrial Plant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <up-alert-error></up-alert-error>
        <div class="form-group" [hidden]="!industrialPlant.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="industrialPlant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.industrialPlant.solarSurface" for="field_solarSurface">Solar Surface</label>
            <input type="number" class="form-control" name="solarSurface" id="field_solarSurface"
                [(ngModel)]="industrialPlant.solarSurface" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.industrialPlant.numberRooms" for="field_numberRooms">Number Rooms</label>
            <input type="number" class="form-control" name="numberRooms" id="field_numberRooms"
                [(ngModel)]="industrialPlant.numberRooms" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.industrialPlant.m2Offices" for="field_m2Offices">M 2 Offices</label>
            <input type="number" class="form-control" name="m2Offices" id="field_m2Offices"
                [(ngModel)]="industrialPlant.m2Offices" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.industrialPlant.m2Storage" for="field_m2Storage">M 2 Storage</label>
            <input type="number" class="form-control" name="m2Storage" id="field_m2Storage"
                [(ngModel)]="industrialPlant.m2Storage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.industrialPlant.heightFree" for="field_heightFree">Height Free</label>
            <input type="number" class="form-control" name="heightFree" id="field_heightFree"
                [(ngModel)]="industrialPlant.heightFree" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.industrialPlant.numberDocks" for="field_numberDocks">Number Docks</label>
            <input type="number" class="form-control" name="numberDocks" id="field_numberDocks"
                [(ngModel)]="industrialPlant.numberDocks" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.industrialPlant.energyCertificate" for="field_energyCertificate">Energy Certificate</label>
            <select class="form-control" name="energyCertificate" [(ngModel)]="industrialPlant.energyCertificate" id="field_energyCertificate" >
                <option value="A">{{'uplaceApp.EnergyCertificate.A' | translate}}</option>
                <option value="B">{{'uplaceApp.EnergyCertificate.B' | translate}}</option>
                <option value="C">{{'uplaceApp.EnergyCertificate.C' | translate}}</option>
                <option value="D">{{'uplaceApp.EnergyCertificate.D' | translate}}</option>
                <option value="E">{{'uplaceApp.EnergyCertificate.E' | translate}}</option>
                <option value="F">{{'uplaceApp.EnergyCertificate.F' | translate}}</option>
                <option value="G">{{'uplaceApp.EnergyCertificate.G' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.EnergyCertificate.UNDEFINED' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
