<section id="recent" class="block">
  <div class="container">
    <header><h2>Recent</h2></header>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="item list">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <img src="../../../../content/img/items/real-estate/10.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>431 Hardman Road</h3></a>
            <figure>Brattleboro</figure>
            <div class="price">$82.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="4"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-md-6-->
      <div class="col-md-6 col-sm-6">
        <div class="item list">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <img src="../../../../content/img/items/real-estate/7.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>4282 River Road</h3></a>
            <figure>Springfield</figure>
            <div class="price">$57.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="4"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-md-6-->
      <div class="col-md-6 col-sm-6">
        <div class="item list">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <img src="../../../../content/img/items/real-estate/9.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>2543 Fairfax Drive</h3></a>
            <figure>Elizabeth</figure>
            <div class="price">$486.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="4"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-md-6-->
      <div class="col-md-6 col-sm-6">
        <div class="item list">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <img src="../../../../content/img/items/real-estate/11.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>3295 Valley Street</h3></a>
            <figure>Collingswood</figure>
            <div class="price">$42.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="4"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-md-6-->
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
