<div class="map-wrapper mb80" [class.fullscreen]="mapFullScreen">
    <div class="map" style="height: 740px">
        <div class="map-inner">
            <div class="map-object">
                <agm-map style="height: 740px" [latitude]="latitude" [mapTypeControl]="false" [streetViewControl]="false" [longitude]="longitude" [styles]="mapStyles" [mapTypeId]="mapType" [zoom]="mapZoom" [disableDefaultUI]="true">
                    <up-inner-map></up-inner-map>
                    <!--<agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
                        <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
                    </agm-marker-cluster>-->
                </agm-map>
                <div class="container">
                    <div class="map-toolbar map-toolbar-top-right">
                        <div class="map-toolbar-group">
                            <div id="map-toolbar-action-zoom-in" class="map-toolbar-group-item" (click)="mapZoom = mapZoom + 1"><i class="fa fa-plus"></i></div>
                            <!-- /.map-toolbar-group-item -->
                            <div id="map-toolbar-action-zoom-out" class="map-toolbar-group-item" (click)="mapZoom = mapZoom - 1" ><i class="fa fa-minus"></i></div>
                            <!-- /.map-toolbar-group-item -->
                        </div>
                        <!-- /.map-toolbar-group -->
                        <div class="map-toolbar-group">
                            <div id="map-toolbar-action-current-position" class="map-toolbar-group-item" (click)="getUserLocation()"><i class="fa fa-location-arrow"></i></div>
                            <!-- /.map-toolbar-group-item -->
                            <div id="map-toolbar-action-fullscreen" class="map-toolbar-group-item" (click)="mapFullScreen = !mapFullScreen"><i class="fa fa-arrows-alt"></i></div>
                            <!-- /.map-toolbar-group-item -->
                        </div>
                        <!-- /.map-toolbar-group -->
                        <div class="map-toolbar-group">
                            <div id="map-toolbar-action-roadmap" class="map-toolbar-group-item" (click)="mapType = 'roadmap'">Roadmap</div>
                            <!-- /.map-toolbar-group-item -->
                            <div id="map-toolbar-action-satellite" class="map-toolbar-group-item" (click)="mapType = 'satellite'">Satellite</div>
                            <!-- /.map-toolbar-group-item -->
                            <div id="map-toolbar-action-terrain" class="map-toolbar-group-item" (click)="mapType = 'terrain'">Terrain</div>
                            <!-- /.map-toolbar-group-item -->
                            <div id="map-toolbar-action-hybrid" class="map-toolbar-group-item" (click)="mapType = 'hybrid'">Hybrid</div>
                            <!-- /.map-toolbar-group-item -->
                        </div>
                        <!-- /.map-toolbar-group -->
                    </div>
                    <!-- /.map-toolbar -->
                </div>
                <!-- /.container -->
                <up-home-filter></up-home-filter>
                <!-- /.map-filter-wrapper -->
            </div>
            <!-- /#map-object -->
        </div>
        <!-- /.map-inner -->
    </div>
    <!-- /.map -->
</div>
