
<div *ngIf="property">
    <h2><span jhiTranslate="uplaceApp.property.detail.title">Property</span> {{property.id}}</h2>
    <hr>
    <up-alert-error></up-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="uplaceApp.property.title">Title</span></dt>
        <dd>
            <span>{{property.title}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.price">Price</span></dt>
        <dd>
            <span>{{property.price}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.created">Created</span></dt>
        <dd>
            <span>{{property.created | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.updated">Updated</span></dt>
        <dd>
            <span>{{property.updated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.description">Description</span></dt>
        <dd>
            <span>{{property.description}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.transaction">Transaction</span></dt>
        <dd>
            <span jhiTranslate="{{'uplaceApp.TransactionType.' + property.transaction}}">{{property.transaction}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.reference">Reference</span></dt>
        <dd>
            <span>{{property.reference}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.priceSell">Price Sell</span></dt>
        <dd>
            <span>{{property.priceSell}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.priceRent">Price Rent</span></dt>
        <dd>
            <span>{{property.priceRent}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.yearConstruction">Year Construction</span></dt>
        <dd>
            <span>{{property.yearConstruction}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.newCreation">New Creation</span></dt>
        <dd>
            <span>{{property.newCreation}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.visible">Visible</span></dt>
        <dd>
            <span>{{property.visible}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.surface">Surface</span></dt>
        <dd>
            <span>{{property.surface}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.location">Location</span></dt>
        <dd>
            <div *ngIf="property.location">
                <a [routerLink]="['/location', property.location?.id]">{{property.location?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="uplaceApp.property.manager">Manager</span></dt>
        <dd>
            <span *ngFor="let manager of property.managers; let last = last">
                <a [routerLink]="['/agent', manager?.id ]">{{manager.firstName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'property/'+ property.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
