
<div *ngIf="building">
    <h2><span jhiTranslate="uplaceApp.building.detail.title">Building</span> {{building.id}}</h2>
    <hr>
    <up-alert-error></up-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="uplaceApp.building.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'uplaceApp.BuildingType.' + building.type}}">{{building.type}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.building.solarSurface">Solar Surface</span></dt>
        <dd>
            <span>{{building.solarSurface}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.building.m2Edified">M 2 Edified</span></dt>
        <dd>
            <span>{{building.m2Edified}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.building.floorsSR">Floors SR</span></dt>
        <dd>
            <span>{{building.floorsSR}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.building.floorsBR">Floors BR</span></dt>
        <dd>
            <span>{{building.floorsBR}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.building.energyCertificate">Energy Certificate</span></dt>
        <dd>
            <span jhiTranslate="{{'uplaceApp.EnergyCertificate.' + building.energyCertificate}}">{{building.energyCertificate}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'building/'+ building.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
