<div class="map-filter-horizontal-wrapper">
    <div class="container">
        <div class="map-filter-horizontal">
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <input type="text" class="form-control form-control-no-border"
                               placeholder="Search by keyword ..." [(ngModel)]="criteria.keywords" name="keyword">
                    </div>
                    <!-- /.form-group -->
                    <div class="col-sm-3 form-group">
                        <select class="form-control form-control-no-border" [(ngModel)]="criteria.city" name="location">
                            <option value="null">Location</option>
                            <option *ngFor="let city of filters.cities">{{city}}</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="col-sm-3 form-group">
                        <select class="form-control form-control-no-border" [(ngModel)]="criteria.category" name="category">
                            <option [ngValue]="null">Category</option>
                            <option *ngFor="let type of filters.typeProperties">{{type}}</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control form-control-no-border" min="1" placeholder="Bedrooms" [(ngModel)]="criteria.bedrooms" name="bedrooms">
                    </div>
                    <!-- /.form-group -->
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control form-control-no-border" min="1" placeholder="Bathrooms" [(ngModel)]="criteria.bathrooms" name="bathrooms">
                    </div>
                    <!-- /.form-group -->
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control form-control-no-border" min="1" step="any" placeholder="Price from" [(ngModel)]="criteria.priceFrom" name="priceFrom">
                    </div>
                    <!-- /.form-group -->
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control form-control-no-border" min="1" step="any" placeholder="Price to" [(ngModel)]="criteria.priceTo" name="priceTo">
                    </div>
                    <!-- /.form-group -->
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-block">Filter Listings</button>
                    </div>
                    <!-- /.col-->
                </div>
                <!-- /.row -->
            </form>
        </div>
        <!-- /.map-filter -->
    </div>
    <!-- /.container -->
</div>
