<div class="filter">
  <form class="main-search" role="form" method="post" action="?">
    <header class="clearfix">
      <h3 class="pull-left">Search</h3>
      <a href="#" class="show-more pull-right" (click)="onShowAdvancedSearch()" data-toggle="collapse" aria-expanded="false" aria-controls="advanced-search">Advanced Search</a>
    </header>
    <div class="advanced-search collapse" id="advanced-search" [class.collapse]="showAdvancedSearch">
      <h4>Features</h4>
      <ul class="list-unstyled checkboxes">
        <ul class="list-unstyled checkboxes">
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="1">Free Parking</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="2">Cards Accepted</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="3">Wi-Fi</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="4">Air Condition</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="5">Reservations</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="6">Team-buildings</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="7">Places to seat</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="8">Winery</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="9">Draft Beer</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="10">LCD</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="11">Saloon</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="12">Free Access</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="13">Terrace</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="14">Minigolf</label></div></li>
          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="15">Night Bar</label></div></li>
        </ul>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Property Type</label>
          <!--<div class="btn-group bootstrap-select show-tick">-->
          <!--<button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="type" title="All">
            <span class="filter-option pull-left">All</span>&nbsp;
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu open animation-fade-in" style="max-height: 669px; overflow: hidden; min-height: 158px;">
            <div class="bootstrap-select-searchbox">
              <input type="text" class="input-block-level form-control">
            </div>
          </div>-->
          <ngx-select [allowClear]="false"
                      [items]="items"
                      [(ngModel)]="ngxValue"
                      optionValueField="id" optionTextField="text"
                      optGroupLabelField="text" optGroupOptionsField="children"
                      placeholder="No city selected"
                      name="propertyType"
                      class=""
                      [multiple]="true">
          </ngx-select>
          <!--</div>-->
          <!--
          <div class="btn-group bootstrap-select show-tick" [class.open]="openSelect">
            <button (click)="onOpenSelect()" type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="type" title="All">
              <span class="filter-option pull-left">All</span>&nbsp;
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu open animation-fade-in" style="max-height: 669px; overflow: hidden; min-height: 158px;">
              <div class="bootstrap-select-searchbox">
                <input type="text" class="input-block-level form-control">
              </div>
              <ul class="dropdown-menu inner selectpicker animation-fade-in" role="menu" style="max-height: 622px; overflow-y: auto; min-height: 111px;">
                <li rel="0" class="">
                  <a tabindex="0" class="" style="">
                    <span class="text">Stores</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="1" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Apparel</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="2" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Computers</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="3" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Nature</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="4" class="">
                  <a tabindex="0" class="" style="">
                    <span class="text">Tourism</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="5" class="">
                  <a tabindex="0" class="" style="">
                    <span class="text">Restaurant &amp; Bars</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="6" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Bars</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="7" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Vegetarian</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="8" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Steak &amp; Grill</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="9">
                  <a tabindex="0" class="" style="">
                    <span class="text">Sports</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="10">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Cycling</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="11" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Water Sports</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
                <li rel="12" class="">
                  <a tabindex="0" class="sub-category" style="">
                    <span class="text">Winter Sports</span>
                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>-->
        </div><!-- /.form-group -->
      </div>
      <!--/.col-md-6-->
      <div class="col-md-3">
        <div class="form-group">
          <label for="bedrooms">Bedrooms</label>
          <div class="input-group counter">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="decrement(filterBedrooms)"><i class="fa fa-minus"></i></button>
            </span>
            <input type="text" class="form-control" id="bedrooms" name="bedrooms" [(ngModel)]="filterBedrooms" placeholder="Any">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="increment(filterBedrooms)"><i class="fa fa-plus"></i></button>
            </span>
          </div><!-- /input-group -->
        </div>
        <!-- /.form-group -->
      </div>
      <!--/.col-md-3-->
      <div class="col-md-3">
        <div class="form-group">
          <label for="bathrooms">Bathrooms</label>
          <div class="input-group counter">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
            </span>
            <input type="text" class="form-control" id="bathrooms" name="bathrooms" [(ngModel)]="filterBedrooms" placeholder="Any">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
            </span>
          </div><!-- /input-group -->
        </div>
        <!-- /.form-group -->
      </div>
      <!--/.col-md-3-->
      <div class="col-md-6">
        <div class="form-group">
          <label for="location">Location</label>
          <div class="input-group location">
            <input type="text" class="form-control" id="location" placeholder="Enter Location">
            <span class="input-group-addon"><i class="fa fa-map-marker geolocation" data-toggle="tooltip" data-placement="bottom" title="Find my position"></i></span>
          </div>
        </div>
        <!-- /.form-group -->
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Price</label>
          <nouislider class="ui-slider-horizontal" name="propertyPriceFilter" id="price-slider" [connect]="true" [min]="100" [max]="40000" [(ngModel)]="someRange"></nouislider>
          <!--<div data-value-min="100" data-value-max="40000" data-value-type="price" data-currency="$" data-currency-placement="before">
            <div class="values clearfix">
              <input class="value-min" name="value-min[]" readonly>
              <input class="value-max" name="value-max[]" readonly>
            </div>
            <div class="element"></div>
          </div>-->
        </div>
        <!-- /.form-group -->
      </div>
      <!--/.col-md-6-->
    </div>
    <!--/.row-->
  </form>
  <!-- /.main-search -->
</div>
