<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHotelLabel" jhiTranslate="uplaceApp.hotel.home.createOrEditLabel">Create or edit a Hotel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <up-alert-error></up-alert-error>
        <div class="form-group" [hidden]="!hotel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="hotel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.solarSurface" for="field_solarSurface">Solar Surface</label>
            <input type="number" class="form-control" name="solarSurface" id="field_solarSurface"
                [(ngModel)]="hotel.solarSurface" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.m2Edified" for="field_m2Edified">M 2 Edified</label>
            <input type="number" class="form-control" name="m2Edified" id="field_m2Edified"
                [(ngModel)]="hotel.m2Edified" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.numberRooms" for="field_numberRooms">Number Rooms</label>
            <input type="number" class="form-control" name="numberRooms" id="field_numberRooms"
                [(ngModel)]="hotel.numberRooms" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.operator" for="field_operator">Operator</label>
            <select class="form-control" name="operator" [(ngModel)]="hotel.operator" id="field_operator" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.pool" for="field_pool">Pool</label>
            <select class="form-control" name="pool" [(ngModel)]="hotel.pool" id="field_pool" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.spa" for="field_spa">Spa</label>
            <select class="form-control" name="spa" [(ngModel)]="hotel.spa" id="field_spa" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.conferenceRoom" for="field_conferenceRoom">Conference Room</label>
            <select class="form-control" name="conferenceRoom" [(ngModel)]="hotel.conferenceRoom" id="field_conferenceRoom" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.floorsSR" for="field_floorsSR">Floors SR</label>
            <input type="number" class="form-control" name="floorsSR" id="field_floorsSR"
                [(ngModel)]="hotel.floorsSR" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.floorsBR" for="field_floorsBR">Floors BR</label>
            <input type="number" class="form-control" name="floorsBR" id="field_floorsBR"
                [(ngModel)]="hotel.floorsBR" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.hotel.energyCertificate" for="field_energyCertificate">Energy Certificate</label>
            <select class="form-control" name="energyCertificate" [(ngModel)]="hotel.energyCertificate" id="field_energyCertificate" >
                <option value="A">{{'uplaceApp.EnergyCertificate.A' | translate}}</option>
                <option value="B">{{'uplaceApp.EnergyCertificate.B' | translate}}</option>
                <option value="C">{{'uplaceApp.EnergyCertificate.C' | translate}}</option>
                <option value="D">{{'uplaceApp.EnergyCertificate.D' | translate}}</option>
                <option value="E">{{'uplaceApp.EnergyCertificate.E' | translate}}</option>
                <option value="F">{{'uplaceApp.EnergyCertificate.F' | translate}}</option>
                <option value="G">{{'uplaceApp.EnergyCertificate.G' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.EnergyCertificate.UNDEFINED' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
