<div>
    <h2>
        <span jhiTranslate="uplaceApp.bussiness.home.title">Bussinesses</span>
        <button class="btn btn-primary float-right jh-create-entity create-bussiness" [routerLink]="['/', { outlets: { popup: ['bussiness-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="uplaceApp.bussiness.home.createLabel">
            Create new Bussiness
            </span>
        </button>
    </h2>
    <up-alert></up-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bussinesses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.bussinessType">Bussiness Type</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.numberBathrooms">Number Bathrooms</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.elevator">Elevator</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.ac">Ac</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.heat">Heat</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.surfaceTerrace">Surface Terrace</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.surfaceGarden">Surface Garden</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.numberOffice">Number Office</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.surfaceSaloon">Surface Saloon</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.height">Height</span></th>
            <th><span jhiTranslate="uplaceApp.bussiness.pool">Pool</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bussiness of bussinesses ;trackBy: trackId">
                <td><a [routerLink]="['../bussiness', bussiness.id ]">{{bussiness.id}}</a></td>
                <td jhiTranslate="{{'uplaceApp.BussinessType.' + bussiness.bussinessType}}">{{bussiness.bussinessType}}</td>
                <td>{{bussiness.numberBathrooms}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + bussiness.elevator}}">{{bussiness.elevator}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + bussiness.ac}}">{{bussiness.ac}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + bussiness.heat}}">{{bussiness.heat}}</td>
                <td>{{bussiness.surfaceTerrace}}</td>
                <td>{{bussiness.surfaceGarden}}</td>
                <td>{{bussiness.numberOffice}}</td>
                <td>{{bussiness.surfaceSaloon}}</td>
                <td>{{bussiness.height}}</td>
                <td jhiTranslate="{{'uplaceApp.Select.' + bussiness.pool}}">{{bussiness.pool}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bussiness', bussiness.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bussiness/'+ bussiness.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bussiness/'+ bussiness.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
