<li *ngIf="!horizontal">
  <div class="item">
    <a href="#" class="image loaded">
      <div class="inner">
        <div class="item-specific">
                          <span title="Bedrooms">
                            <img src="../../../content/img/bedrooms.png" class="mCS_img_loaded">1</span>
          <span title="Bathrooms">
                            <img src="../../../content/img/bathrooms.png" class="mCS_img_loaded">1</span>
          <span title="Area">
                            <img src="../../../content/img/area.png" class="mCS_img_loaded">140<sup>2</sup></span>
          <span title="Garages"><img src="../../../content/img/garages.png" class="mCS_img_loaded">1</span>
        </div>
        <img src="../../../content/img/items/real-estate/12.jpg" alt="" class="mCS_img_loaded">
      </div>
    </a>
    <div class="wrapper"><a href="#" id="2">
      <h3>534 Roosevelt Street</h3>
    </a>
      <figure>San Francisco</figure>
      <div class="price">$39.000</div>
      <div class="info">
        <div class="type"><i>
          <img src="../../../content/icons/real-estate/condominium.png" alt="" class="mCS_img_loaded"></i><span>Condominium</span>
        </div>
        <div class="rating" data-rating="4">
          <span class="stars">
                            <i class="fa fa-star s1 active" data-score="1"></i>
                            <i class="fa fa-star s2 active" data-score="2"></i>
                            <i class="fa fa-star s3 active" data-score="3"></i>
                            <i class="fa fa-star s4 active" data-score="4"></i>
                            <i class="fa fa-star s5" data-score="5"></i>
            </span>
        </div>
      </div>
    </div>
  </div>
</li>

<li *ngIf="horizontal">
    <a href="item-detail.html" class="item-horizontal small">
      <h3>Cash Cow Restaurante</h3>
      <figure>63 Birch Street</figure>
      <div class="wrapper">
        <div class="image"><img src="../../../content/img/items/1.jpg" alt=""></div>
        <div class="info">
          <div class="type">
            <i><img src="../../../content/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
            <span>Restaurant</span>
          </div>
          <div class="rating" data-rating="4"><span class="stars"><i class="fa fa-star s1 active" data-score="1"></i><i class="fa fa-star s2 active" data-score="2"></i><i class="fa fa-star s3 active" data-score="3"></i><i class="fa fa-star s4 active" data-score="4"></i><i class="fa fa-star s5" data-score="5"></i></span></div>
        </div>
      </div>
    </a>
</li>
