
<div *ngIf="terrain">
    <h2><span jhiTranslate="uplaceApp.terrain.detail.title">Terrain</span> {{terrain.id}}</h2>
    <hr>
    <up-alert-error></up-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="uplaceApp.terrain.m2Buildable">M 2 Buildable</span></dt>
        <dd>
            <span>{{terrain.m2Buildable}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.terrain.buildable">Buildable</span></dt>
        <dd>
            <span>{{terrain.buildable}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.terrain.buildableDepth">Buildable Depth</span></dt>
        <dd>
            <span>{{terrain.buildableDepth}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.terrain.floorsSR">Floors SR</span></dt>
        <dd>
            <span>{{terrain.floorsSR}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.terrain.floorsBR">Floors BR</span></dt>
        <dd>
            <span>{{terrain.floorsBR}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.terrain.constructionCoefficient">Construction Coefficient</span></dt>
        <dd>
            <span>{{terrain.constructionCoefficient}}</span>
        </dd>
        <dt><span jhiTranslate="uplaceApp.terrain.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'uplaceApp.TerrainType.' + terrain.type}}">{{terrain.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'terrain/'+ terrain.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
