
    <div class="admin-sidebar-header">
        <div class="admin-sidebar-logo">
            <a routerLink="/dashboard">
                <!--<img src="/content/img/logo_old.svg" class="svg" alt="Home">-->
            </a>
            <a routerLink="/dashboard" class="admin-sidebar-logo-title">
                <strong>Uplace</strong>
                <span>{{version}}</span>
            </a>
        </div>
        <!-- /.admin-sidebar-logo -->
    </div>
    <!-- /.admin-sidebar-header -->
    <div class="admin-sidebar-content">
        <h3>Property management</h3>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
                    <i class="fa fa-tachometer"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item has-sub-menu">
                <a [routerLink]="'/dashboard/properties'" class="nav-link" routerLinkActive="active">
                    <i class="fa fa-align-justify"></i><span>Properties</span>
                </a>
                <ul>
                    <li routerLinkActive="active"><a [routerLink]="'/dashboard/properties/new'">New property</a></li>
                    <li><a [routerLink]="'/dashboard/properties'" routerLinkActive="active">All properties</a></li>
                </ul>
            </li>
        </ul>
        <h3>Admin tools</h3>
        <ul class="nav flex-column" *upHasAnyAuthority="'ROLE_ADMIN'">
            <li class="nav-item">
                <a class="nav-link" routerLink="/user-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users"></i>{{'global.menu.admin.userManagement' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/up-metrics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users"></i>{{'global.menu.admin.metrics' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/up-health" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users"></i>{{'global.menu.admin.health' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/up-configuration" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users"></i>{{'global.menu.admin.configuration' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/audits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users"></i>{{'global.menu.admin.audits' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users"></i>{{'global.menu.admin.logs' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/docs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users"></i>{{'global.menu.admin.apidocs' | translate}}</a>
            </li>
        </ul>
        <!-- /.nav -->
    </div>
