<section id="featured" class="block background-color-white">
  <div class="container">
    <header><h2>Featured</h2></header>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="item featured equal-height">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <div class="icon">
                <i class="fa fa-thumbs-up"></i>
              </div>
              <img src="../../../../content/img/items/real-estate/6.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>3295 Valley Street</h3></a>
            <figure>Collingswood</figure>
            <div class="price">$42.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="4"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-sm-4-->
      <div class="col-md-3 col-sm-3">
        <div class="item featured equal-height">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <div class="icon">
                <i class="fa fa-thumbs-up"></i>
              </div>
              <img src="../../../../content/img/items/real-estate/12.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>534 Roosevelt Street</h3></a>
            <figure>San Francisco</figure>
            <div class="price">$16.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="4"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-sm-4-->
      <div class="col-md-3 col-sm-3">
        <div class="item featured equal-height">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <img src="../../../../content/img/items/real-estate/1.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>3019 White Avenue</h3></a>
            <figure>Corpus Christi</figure>
            <div class="price">$39.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="5"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-sm-4-->
      <div class="col-md-3 col-sm-3">
        <div class="item featured equal-height">
          <div class="image">
            <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
            <a href="real-estate-item-detail.html">
              <div class="overlay">
                <div class="inner">
                  <div class="content">
                    <h4>Description</h4>
                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                  </div>
                </div>
              </div>
              <div class="item-specific">
                <span title="Bedrooms"><img src="../../../../content/img/bedrooms.png" alt="">2</span>
                <span title="Bathrooms"><img src="../../../../content/img/bathrooms.png" alt="">2</span>
                <span title="Area"><img src="../../../../content/img/area.png" alt="">240m<sup>2</sup></span>
                <span title="Garages"><img src="../../../../content/img/garages.png" alt="">1</span>
              </div>
              <img src="../../../../content/img/items/real-estate/8.jpg" alt="">
            </a>
          </div>
          <div class="wrapper">
            <a href="real-estate-item-detail.html"><h3>1882 Trainer Avenue</h3></a>
            <figure>Louisville</figure>
            <div class="price">$150.000</div>
            <div class="info">
              <div class="type">
                <i><img src="../../../../content/icons/real-estate/apartment-3.png" alt=""></i>
                <span>Apartment</span>
              </div>
              <div class="rating" data-rating="4"></div>
            </div>
          </div>
        </div>
        <!-- /.item-->
      </div>
      <!--/.col-sm-4-->
    </div>
  </div>
</section>
