<!--
<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">Uplace</span> <span class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            &lt;!&ndash; jhipster-needle-add-element-to-menu - JHipster will add new menu items here &ndash;&gt;
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="property" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.property">Property</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="apartment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.apartment">Apartment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="office" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.office">Office</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="agent" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.agent">Agent</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="parking" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.parking">Parking</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="terrain" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.terrain">Terrain</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="location" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.location">Location</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bussiness" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.bussiness">Bussiness</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="gallery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.gallery">Gallery</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="photo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.photo">Photo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="business" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.business">Business</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.notification">Notification</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="building" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.building">Building</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="hotel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.hotel">Hotel</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="industrial-plant" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.industrialPlant">Industrial Plant</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="establishment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.establishment">Establishment</span>
                        </a>
                    </li>
                    &lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;
                </ul>
            </li>
            <li *upHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="up-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="up-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="up-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    &lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [upActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
-->
<div class="header-wrapper">
    <div class="header">
        <div class="container">
            <div class="header-inner">
                <div class="navigation-toggle toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- /.header-toggle -->
                <div class="header-logo">
                    <a routerLink="/">
                        <span class="logo-img"></span>
                    </a>
                    <a routerLink="/" class="header-title" jhiTranslate="global.title">Uplace <small class="navbar-version">{{version}}</small></a>
                </div>
                <!-- /.header-logo -->
                <div class="header-nav">
                    <div class="primary-nav-wrapper">
                        <ul class="nav" [ngSwitch]="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'global.menu.home' | translate }}</a>
                            </li>
                            <li *ngSwitchCase="true" class="nav-item has-sub-menu">
                                <a class="nav-link">{{'global.menu.entities.main' | translate}}</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="property" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.property' | translate}}</a></li>
                                    <li><a routerLink="apartment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.apartment' | translate}}</a></li>
                                    <li><a routerLink="office" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.office' | translate}}</a></li>
                                    <li><a routerLink="agent" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.agent' | translate}}</a></li>
                                    <li><a routerLink="parking" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.parking' | translate}}</a></li>
                                    <li><a routerLink="terrain" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.terrain' | translate}}</a></li>
                                    <li><a routerLink="location" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.location' | translate}}</a></li>
                                    <li><a routerLink="business" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.business' | translate}}</a></li>
                                    <li><a routerLink="photo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.photo' | translate}}</a></li>
                                    <li><a routerLink="notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.notification' | translate}}</a></li>
                                    <li><a routerLink="building" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.building' | translate}}</a></li>
                                    <li><a routerLink="hotel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.hotel' | translate}}</a></li>
                                    <li><a routerLink="industrial-plant" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.industrialPlant' | translate}}</a></li>
                                    <li><a routerLink="establishment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.establishment' | translate}}</a></li>
                                </ul>
                            </li>
                            <li class="nav-item has-sub-menu">
                                <a href="#" class="nav-link ">Listings</a>
                                <ul class="sub-menu">
                                    <li><a href="listings-google-map.html">Listings Google Map</a></li>
                                    <li><a href="listings-grid.html">Listings Grid</a></li>
                                    <li><a href="listings-rows.html">Listings Rows</a></li>
                                    <li><a href="listings-detail.html">Listing Detail</a></li>
                                    <li><a href="listings-my.html">My Listing</a></li>
                                    <li><a href="listings-compare.html">Listings Compare</a></li>
                                    <li><a href="listings-submit.html">Submit Listing</a></li>
                                    <li><a href="listings-claim.html">Claim Listing</a></li>
                                    <li><a href="listings-favorites.html">Favorite Listings</a></li>
                                </ul>
                            </li>
                            <li class="nav-item has-sub-menu">
                                <a href="#" class="nav-link ">Agencies &amp; Agents</a>
                                <ul class="sub-menu">
                                    <li><a href="agents-row.html">Agents Rows</a></li>
                                    <li><a href="agents-grid.html">Agents Grid</a></li>
                                    <li><a href="agents-submit.html">Agent Submit</a></li>
                                    <li><a href="agents-detail.html">Agent Detail</a></li>
                                    <li><a href="agencies-row.html">Agencies Rows</a></li>
                                    <li><a href="agencies-grid.html">Agencies Grid</a></li>
                                    <li><a href="agencies-submit.html">Agency Submit</a></li>
                                    <li><a href="agencies-detail.html">Agency Detail</a></li>
                                </ul>
                            </li>
                            <li class="nav-item has-sub-menu has-mega-menu">
                                <a href="#" class="nav-link ">Pages</a>
                                <div class="sub-menu mega-menu">
                                    <ul>
                                        <li><strong>Elements I.</strong></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="user-profile-edit.html">User Profile Edit</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="author.html">Author Detail</a></li>
                                    </ul>
                                    <ul>
                                        <li><strong>Elements II.</strong></li>
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="invoice.html">Invoice</a></li>
                                        <li><a href="grid.html">Grid</a></li>
                                        <li><a href="filters.html">Filters</a></li>
                                        <li><a href="reservations-extra-features.html">Reservations Features</a></li>
                                    </ul>
                                    <ul>
                                        <li><strong>Elements III.</strong></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="registration.html">Registration</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                    <ul>
                                        <li><strong>Elements IV.</strong></li>
                                        <li><a href="forms.html">Forms</a></li>
                                        <li><a href="change-password.html">Change password</a></li>
                                        <li><a href="reset-password.html">Reset password</a></li>
                                        <li><a href="messages.html">Messages</a></li>
                                        <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                    </ul>
                                    <ul>
                                        <li><strong>Elements V.</strong></li>
                                        <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>
                                        <li><a href="403.html">403 - Access not allowed</a></li>
                                        <li><a href="404.html">404 - Page not found</a></li>
                                        <li><a href="500.html">500 - Internal server error</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item has-sub-menu has-mega-menu">
                                <a href="#" class="nav-link ">Admin</a>
                                <div class="sub-menu mega-menu">
                                    <ul>
                                        <li>
                                            <strong>Dashboards</strong>
                                        </li>
                                        <li><a href="admin-dashboard.html">Standard Version</a></li>
                                        <li><a href="admin-dashboard-minimal-sidebar.html">Compressed Sidebar</a></li>
                                        <li><a href="admin-dashboard-light-sidebar.html">Light Sidebar</a></li>
                                        <li><a href="admin-dashboard-light-minimal-sidebar.html">Compressed Light Sidebar</a></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <strong>Listings</strong>
                                        </li>
                                        <li><a href="admin-listings.html">Listings</a></li>
                                        <li><a href="admin-agencies.html">Agencies</a></li>
                                        <li><a href="admin-agents.html">Agents</a></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <strong>Workflow</strong>
                                        </li>
                                        <li><a href="admin-projects.html">Projects</a></li>
                                        <li><a href="admin-tasks.html">Tasks</a></li>
                                        <li><a href="admin-users.html">Users</a></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <strong>Template Helpers</strong>
                                        </li>
                                        <li><a href="admin-messages.html">Messages</a></li>
                                        <li><a href="admin-cards.html">Cards</a></li>
                                        <li><a href="admin-forms.html">Forms</a></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <strong>Template Helpers</strong>
                                        </li>
                                        <li><a href="admin-media.html">Media files</a></li>
                                        <li><a href="admin-tables.html">Tables</a></li>
                                    </ul>
                                </div>
                                <!-- /.mega-menu -->
                            </li>
                            <li class="nav-item has-sub-menu">
                                <a href="#" class="nav-link ">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-left.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog Grid Right Sidebar</a></li>
                                    <li><a href="blog-grid-left.html">Blog Grid Left Sidebar</a></li>
                                    <li><a href="blog-detail.html">Blog Detail Right Sidebar</a></li>
                                    <li><a href="blog-detail-left.html">Blog Detail Left Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.primary-nav-wrapper -->
                </div>
                <div class="header-toggle toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- /.header-toggle -->
                <div class="header-actions">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link modal-submit" id="modal-action-submit" data-toggle="modal" data-target="#modal-submit">
                                <i class="fa fa-plus"></i> <span>Submit Listing</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.header-actions -->
            </div>
            <!-- /.header-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header -->
</div>
