<!--
<nav class="navbar navbar-dark navbar-expand-md jh-navbar">

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">

            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [upActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
-->
<div class="header-wrapper">
    <div class="header">
        <div class="container">
            <div class="header-inner">
                <div class="navigation-toggle toggle" (click)="collapseNavbar()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- /.header-toggle -->
                <div class="header-logo">
                    <a routerLink="/">
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.29 31.89"><defs><style>.cls-1{fill:#1e2c3c;}.cls-2{fill:#1e90e4;}</style></defs><title>logo</title><g id="LOGO_AZUL"><path class="cls-1" d="M16.85,20.29h.61l.2,0,.42,0,.19,0,.49-.08.1,0,.58-.14.14,0,.44-.13.16-.06.44-.17.11,0,.55-.25.05,0,.47-.25.12-.07.42-.26.08-.05a10.19,10.19,0,0,0,1-.72l.07-.06.4-.36.05-.05a10.22,10.22,0,0,0,.82-.9l0,0,.34-.45,0-.07c.11-.16.23-.33.33-.5h0a10.15,10.15,0,1,0-17.26,0h0l8.63,16.41V20.29Zm-1-6.24a4,4,0,0,1-2.8-2.8,4.07,4.07,0,0,1,5-5A4,4,0,0,1,20.88,9,4.07,4.07,0,0,1,15.86,14.06Z" transform="translate(-6.71)"/><path class="cls-2" d="M25.49,15.48h0c-.11.17-.22.34-.33.5l0,.07-.34.45,0,0a10.22,10.22,0,0,1-.82.9l-.05.05h0l-.38.34-.08.07a10.19,10.19,0,0,1-1,.72l-.09.06-.41.25-.12.07-.47.25-.05,0-.55.25-.11,0-.44.17-.16.06-.44.13-.14,0-.58.14-.1,0-.49.08-.19,0-.42,0h0l-.2,0h-.61v11.6l8.63-16.41h0Z" transform="translate(-6.71)"/></g></svg>
                    </a>
                    <a routerLink="/" class="header-title">Uplace<small class="navbar-version">{{version}}</small></a>
                </div>
                <!-- /.header-logo -->
                <div class="header-nav">
                    <div class="primary-nav-wrapper">
                        <ul class="nav" [ngSwitch]="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="collapseNavbar()">{{ 'global.menu.home' | translate }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/properties" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="collapseNavbar()">{{ 'global.menu.entities.property' | translate }}</a>
                            </li>
                            <li *upHasAnyAuthority="'ROLE_ADMIN'" class="nav-item has-sub-menu">
                                <a class="nav-link">{{'global.menu.entities.main' | translate}}</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/property" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.property' | translate}}</a></li>
                                    <li><a routerLink="/apartment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.apartment' | translate}}</a></li>
                                    <li><a routerLink="/office" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.office' | translate}}</a></li>
                                    <li><a routerLink="/agent" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.agent' | translate}}</a></li>
                                    <li><a routerLink="/parking" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.parking' | translate}}</a></li>
                                    <li><a routerLink="/terrain" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.terrain' | translate}}</a></li>
                                    <li><a routerLink="/location" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.location' | translate}}</a></li>
                                    <li><a routerLink="/business" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.business' | translate}}</a></li>
                                    <li><a routerLink="/photo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.photo' | translate}}</a></li>
                                    <li><a routerLink="/notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.notification' | translate}}</a></li>
                                    <li><a routerLink="/building" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.building' | translate}}</a></li>
                                    <li><a routerLink="/hotel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.hotel' | translate}}</a></li>
                                    <li><a routerLink="/industrial-plant" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.industrialPlant' | translate}}</a></li>
                                    <li><a routerLink="/establishment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.entities.establishment' | translate}}</a></li>
                                </ul>
                            </li>
                            <li *upHasAnyAuthority="'ROLE_ADMIN'" class="nav-item has-sub-menu">
                                <a class="nav-link">{{'global.menu.admin.main' | translate}}</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/user-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.admin.userManagement' | translate}}</a></li>
                                    <li><a routerLink="/up-metrics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.admin.metrics' | translate}}</a></li>
                                    <li><a routerLink="/up-health" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.admin.health' | translate}}</a></li>
                                    <li><a routerLink="/up-configuration" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.admin.configuration' | translate}}</a></li>
                                    <li><a routerLink="/audits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.admin.audits' | translate}}</a></li>
                                    <li><a routerLink="/logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.admin.logs' | translate}}</a></li>
                                    <li *ngIf="swaggerEnabled"><a routerLink="/docs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.admin.apidocs' | translate}}</a></li>
                                </ul>
                            </li>
                            <li *ngIf="languages" class="nav-item has-sub-menu">
                                <a class="nav-link">{{'global.menu.language' | translate}}</a>
                                <ul class="sub-menu">
                                    <li *ngFor="let language of languages">
                                        <a [upActiveMenu]="language" (click)="changeLanguage(language)">{{language | findLanguageFromKey}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-sub-menu">
                                <a class="nav-link">{{'global.menu.account.main' | translate}}</a>
                                <ul class="sub-menu">
                                    <li *ngSwitchCase="true"><a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.account.settings' | translate}}</a></li>
                                    <li *ngSwitchCase="true"><a routerLink="/password" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.account.password' | translate}}</a></li>
                                    <li *ngSwitchCase="true"><a (click)="logout()" (click)="collapseNavbar()">{{'global.menu.account.logout' | translate}}</a></li>
                                    <li *ngSwitchCase="false"><a (click)="login()" (click)="collapseNavbar()">{{'global.menu.account.login' | translate}}</a></li>
                                    <li *ngSwitchCase="false"><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">{{'global.menu.account.register' | translate}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.primary-nav-wrapper -->
                </div>
                <div class="header-toggle toggle" *upHasAnyAuthority="'ROLE_USER'" (click)="collapseSidebar()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- /.header-actions -->
            </div>
            <!-- /.header-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header -->
</div>
