<!--
<nav class="navbar navbar-dark navbar-expand-md jh-navbar">

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">

            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [upActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
-->
<div class="header-wrapper">
    <div class="header">
        <div class="container">
            <div class="header-inner">
                <div class="navigation-toggle toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- /.header-toggle -->
                <div class="header-logo">
                    <a routerLink="/">
                        <span class="logo-img"></span>
                    </a>
                    <a routerLink="/" class="header-title" jhiTranslate="global.title">Uplace <small class="navbar-version">{{version}}</small></a>
                </div>
                <!-- /.header-logo -->
                <div class="header-nav">
                    <div class="primary-nav-wrapper">
                        <ul class="nav" [ngSwitch]="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'global.menu.home' | translate }}</a>
                            </li>
                            <li *ngSwitchCase="true" class="nav-item has-sub-menu">
                                <a class="nav-link" (click)="collapseNavbar()">{{'global.menu.entities.main' | translate}}</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="property" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.property' | translate}}</a></li>
                                    <li><a routerLink="apartment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.apartment' | translate}}</a></li>
                                    <li><a routerLink="office" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.office' | translate}}</a></li>
                                    <li><a routerLink="agent" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.agent' | translate}}</a></li>
                                    <li><a routerLink="parking" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.parking' | translate}}</a></li>
                                    <li><a routerLink="terrain" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.terrain' | translate}}</a></li>
                                    <li><a routerLink="location" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.location' | translate}}</a></li>
                                    <li><a routerLink="business" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.business' | translate}}</a></li>
                                    <li><a routerLink="photo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.photo' | translate}}</a></li>
                                    <li><a routerLink="notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.notification' | translate}}</a></li>
                                    <li><a routerLink="building" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.building' | translate}}</a></li>
                                    <li><a routerLink="hotel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.hotel' | translate}}</a></li>
                                    <li><a routerLink="industrial-plant" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.industrialPlant' | translate}}</a></li>
                                    <li><a routerLink="establishment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.entities.establishment' | translate}}</a></li>
                                </ul>
                            </li>
                            <li *upHasAnyAuthority="'ROLE_ADMIN'" class="nav-item has-sub-menu">
                                <a class="nav-link">{{'global.menu.admin.main' | translate}}</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="user-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.admin.userManagement' | translate}}</a></li>
                                    <li><a routerLink="up-metrics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.admin.metrics' | translate}}</a></li>
                                    <li><a routerLink="up-health" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.admin.health' | translate}}</a></li>
                                    <li><a routerLink="up-configuration" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.admin.configuration' | translate}}</a></li>
                                    <li><a routerLink="audits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.admin.audits' | translate}}</a></li>
                                    <li><a routerLink="logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.admin.logs' | translate}}</a></li>
                                    <li *ngIf="swaggerEnabled"><a routerLink="apidocs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.admin.apidocs' | translate}}</a></li>
                                </ul>
                            </li>
                            <li *ngIf="languages">
                                <a class="nav-link">{{'global.menu.language' | translate}}</a>
                                <ul class="sub-menu">
                                    <li *ngFor="let language of languages">
                                        <a [upActiveMenu]="language" (click)="changeLanguage(language)">{{language | findLanguageFromKey}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-sub-menu">
                                <a class="nav-link">Account</a>
                                <ul class="sub-menu">
                                    <li *ngSwitchCase="true"><a routerLink="settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.account.settings' | translate}}</a></li>
                                    <li *ngSwitchCase="true"><a routerLink="password" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.account.password' | translate}}</a></li>
                                    <li *ngSwitchCase="true"><a (click)="logout()">{{'global.menu.account.logout' | translate}}</a></li>
                                    <li *ngSwitchCase="false"><a (click)="login()">{{'global.menu.account.login' | translate}}</a></li>
                                    <li *ngSwitchCase="false"><a routerLink="register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'global.menu.account.register' | translate}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.primary-nav-wrapper -->
                </div>
                <div class="header-toggle toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- /.header-toggle -->
                <div class="header-actions">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link modal-submit" id="modal-action-submit" data-toggle="modal" data-target="#modal-submit">
                                <i class="fa fa-plus"></i> <span>Submit Listing</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.header-actions -->
            </div>
            <!-- /.header-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header -->
</div>
