
<div *ngIf="gallery">
    <h2><span jhiTranslate="uplaceApp.gallery.detail.title">Gallery</span> {{gallery.id}}</h2>
    <hr>
    <up-alert-error></up-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="uplaceApp.gallery.description">Description</span></dt>
        <dd>
            <span>{{gallery.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gallery/'+ gallery.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
