<div>
    <h2>
        <span jhiTranslate="uplaceApp.gallery.home.title">Galleries</span>
        <button class="btn btn-primary float-right jh-create-entity create-gallery" [routerLink]="['/', { outlets: { popup: ['gallery-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="uplaceApp.gallery.home.createLabel">
            Create new Gallery
            </span>
        </button>
    </h2>
    <up-alert></up-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="galleries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="uplaceApp.gallery.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gallery of galleries ;trackBy: trackId">
                <td><a [routerLink]="['../gallery', gallery.id ]">{{gallery.id}}</a></td>
                <td>{{gallery.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../gallery', gallery.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gallery/'+ gallery.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gallery/'+ gallery.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
