<section class="block" id="the-team">
  <div class="container">
    <header class="no-border"><h3>The Team</h3></header>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="member">
          <img src="../../../../content/img/member-1.jpg" alt="">
          <h4>Jane Daubert</h4>
          <figure>Company CEO</figure>
          <hr>
          <div class="social">
            <a href="#" ><i class="fa fa-twitter"></i></a>
            <a href="#" ><i class="fa fa-facebook"></i></a>
            <a href="#" ><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
        <!--/.member-->
      </div>
      <!--/.col-md-3-->
      <div class="col-md-3 col-sm-3">
        <div class="member">
          <img src="../../../../content/img/member-2.jpg" alt="">
          <h4>Kristy Jose</h4>
          <figure>Marketing Specialist</figure>
          <hr>
          <div class="social">
            <a href="#" ><i class="fa fa-twitter"></i></a>
            <a href="#" ><i class="fa fa-facebook"></i></a>
            <a href="#" ><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
        <!--/.member-->
      </div>
      <!--/.col-md-3-->
      <div class="col-md-3 col-sm-3">
        <div class="member">
          <img src="../../../../content/img/member-3.jpg" alt="">
          <h4>John Doe</h4>
          <figure>PR Manager</figure>
          <hr>
          <div class="social">
            <a href="#" ><i class="fa fa-twitter"></i></a>
            <a href="#" ><i class="fa fa-facebook"></i></a>
            <a href="#" ><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
        <!--/.member-->
      </div>
      <!--/.col-md-3-->
      <div class="col-md-3 col-sm-3">
        <div class="member">
          <img src="../../../../content/img/member-4.jpg" alt="">
          <h4>Misty Bates</h4>
          <figure>Support</figure>
          <hr>
          <div class="social">
            <a href="#" ><i class="fa fa-twitter"></i></a>
            <a href="#" ><i class="fa fa-facebook"></i></a>
            <a href="#" ><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
        <!--/.member-->
      </div>
      <!--/.col-md-3-->
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
