<up-home-map></up-home-map>
<!-- /.map-wrapper -->
<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <up-home-properties></up-home-properties>
                    <!-- /.listing-tabs -->
                    <up-home-categories></up-home-categories>
                    <!-- /.block-inner -->
                    <up-home-carousel></up-home-carousel>
                    <!-- /.carousel-fullwidth -->
                    <!--<div class="page-header">
                        <h2>Most Robust Directory Template Ever Made</h2>
                        <p>Duis eget ornare purus, feugiat consequat sem. Nullam non nisl blandit, tincidunt diam id, consequat elit. Nunc augue libero, viverra a odio</p>
                    </div>
                    <div class="posts-small">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="post-small">
                                    <div class="post-small-image">
                                        <a href="#">
                                            <img src="/content/img/tmp/listing-1.jpg" alt="">
                                        </a>
                                    </div>
                                    &lt;!&ndash; /.post-small-image &ndash;&gt;
                                    <h3><a href="#">Vestibulum suscipit mauris</a></h3>
                                    <div class="post-small-attribute">
                                        22/11/2017 18:32
                                    </div>
                                    &lt;!&ndash; /.post-small-attribute &ndash;&gt;
                                    <p>
                                        Phasellus et vulputate orci, vitae mollis ligula. Etiam ut tempor tellus, eu hendrerit
                                    </p>
                                    <a href="#" class="btn btn-simple">Read Post</a>
                                </div>
                                &lt;!&ndash; /.post-small &ndash;&gt;
                            </div>
                            &lt;!&ndash; /.col-* &ndash;&gt;
                            <div class="col-md-6 col-lg-3">
                                <div class="post-small">
                                    <div class="post-small-image">
                                        <a href="#">
                                            <img src="/content/img/tmp/listing-2.jpg" alt="">
                                        </a>
                                    </div>
                                    &lt;!&ndash; /.post-small-image &ndash;&gt;
                                    <h3><a href="#">Vestibulum suscipit mauris</a></h3>
                                    <div class="post-small-attribute">
                                        22/11/2017 18:32
                                    </div>
                                    &lt;!&ndash; /.post-small-attribute &ndash;&gt;
                                    <p>
                                        Phasellus et vulputate orci, vitae mollis ligula. Etiam ut tempor tellus, eu hendrerit
                                    </p>
                                    <a href="#" class="btn btn-simple">Read Post</a>
                                </div>
                                &lt;!&ndash; /.post-small &ndash;&gt;
                            </div>
                            &lt;!&ndash; /.col-* &ndash;&gt;
                            <div class="col-md-6 col-lg-3">
                                <div class="post-small">
                                    <div class="post-small-image">
                                        <a href="#">
                                            <img src="../../content/img/tmp/listing-3.jpg" alt="">
                                        </a>
                                    </div>
                                    &lt;!&ndash; /.post-small-image &ndash;&gt;
                                    <h3><a href="#">Vestibulum suscipit mauris</a></h3>
                                    <div class="post-small-attribute">
                                        22/11/2017 18:32
                                    </div>
                                    &lt;!&ndash; /.post-small-attribute &ndash;&gt;
                                    <p>
                                        Phasellus et vulputate orci, vitae mollis ligula. Etiam ut tempor tellus, eu hendrerit
                                    </p>
                                    <a href="#" class="btn btn-simple">Read Post</a>
                                </div>
                                &lt;!&ndash; /.post-small &ndash;&gt;
                            </div>
                            &lt;!&ndash; /.col-* &ndash;&gt;
                            <div class="col-md-6 col-lg-3">
                                <div class="post-small">
                                    <div class="post-small-image">
                                        <a href="#">
                                            <img src="../../content/img/tmp/listing-4.jpg" alt="">
                                        </a>
                                    </div>
                                    &lt;!&ndash; /.post-small-image &ndash;&gt;
                                    <h3><a href="#">Vestibulum suscipit mauris</a></h3>
                                    <div class="post-small-attribute">
                                        22/11/2017 18:32
                                    </div>
                                    &lt;!&ndash; /.post-small-attribute &ndash;&gt;
                                    <p>
                                        Phasellus et vulputate orci, vitae mollis ligula. Etiam ut tempor tellus, eu hendrerit
                                    </p>
                                    <a href="#" class="btn btn-simple">Read Post</a>
                                </div>
                                &lt;!&ndash; /.post-small &ndash;&gt;
                            </div>
                            &lt;!&ndash; /.col-* &ndash;&gt;
                        </div>
                        &lt;!&ndash; /.row &ndash;&gt;
                    </div>
                    <div class="page-header">
                        <h2>Most Robust Directory Template Ever Made</h2>
                        <p>Duis eget ornare purus, feugiat consequat sem. Nullam non nisl blandit, tincidunt diam id, consequat elit. Nunc augue libero, viverra a odio</p>
                    </div>
                    <up-home-pricing></up-home-pricing>
                    <up-home-partners></up-home-partners>-->
                    <!-- /.partners -->
                    <!--<div class="cta-price">
                        <h3>Get Everything<br>
                            Exlusively on ThemeForest</h3>
                        <h4>$19</h4>
                    </div>-->
                    <!-- /.cta-price -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-inner -->
    </div>
    <!-- /.main -->
</div>
