 <legend>Photos</legend>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="card card-block bg-faded my-drop-zone">
                    Base drop zone
                </div>
                <!--<label class="form-control-label" jhiTranslate="uplaceApp.photo.photo" for="field_photo">Photo</label>
                <div>
                    <img [src]="'data:' + photo.photoContentType + ';base64,' + photo.photo" style="max-height: 100px;" *ngIf="photo.photo" alt="photo image"/>
                    <div *ngIf="photo.photo" class="form-text text-danger clearfix">
                        <span class="pull-left">{{photo.photoContentType}}, {{byteSize(photo.photo)}}</span>
                        <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <input type="file" id="file_photo" (change)="setFileData($event, photo, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage" multiple/>
                </div>
                <input type="hidden" class="form-control" name="photo" id="field_photo" [(ngModel)]="photo.photo" required/>
                <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType" [(ngModel)]="photo.photoContentType" />-->
            </div>
        </div>
        <div class="col-sm-6" *ngIf="photos">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Preview</th>
                    <th>Title</th>
                    <th>Thumbnail</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let photo of photos" >
                    <td>
                        <div class="avatar squared">
                            <img [src]="'data:' + photo.photoContentType + ';base64,' + photo.photo" alt="">
                        </div>
                    </td>
                    <td>{{photo.name}}</td>
                    <td>
                        <label class="form-check-label">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="photo.thumbnail" name="thumbnail"><span class="indicator"></span>
                            </div>
                        </label>
                    </td>
                    <td>
                        <button class="fa fa-trash" (click)="deletePhoto(photo)"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
