<legend>Photos</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="card card-block bg-faded my-drop-zone"
                 (click)="fileInput.click()">

                Base drop zone
                <input type="file" #fileInput ng2FileSelect [uploader]="uploader" multiple style="display: none" accept="image/x-png,image/gif,image/jpeg"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="photos">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Preview</th>
                <th>Title</th>
                <th>Thumbnail</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let photo of photos">
                <td>
                    <div class="avatar squared">
                        <img [src]="'data:' + photo.photoContentType + ';base64,' + photo.photo" alt="">
                    </div>
                </td>
                <td>{{photo.name}}</td>
                <td>
                    <label class="form-check-label">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="photo.thumbnail"
                                   name="thumbnail"><span class="indicator"></span>
                        </div>
                    </label>
                </td>
                <td>
                    <button class="fa fa-trash" (click)="deletePhoto(photo)"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
