<div class="container-fluid">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/dashboard">Dashboard</a>
        <a class="breadcrumb-item" routerLink="/dashboard/properties">Properties</a>
    </nav>
    <div class="table-header clearfix">
        <up-alert></up-alert>
        <div class="table-header-count">
            <strong>{{totalItems}}</strong> results matching query
        </div>
        <!-- /.table-header-count -->
        <div class="table-header-actions">
            <a href="#" class="btn btn-primary"><i class="fa fa-filter"></i> Apply filters</a>
            <a href="#" class="btn"><i class="fa fa-download"></i> Export All</a>
        </div>
        <!-- /.table-header-actions -->
    </div>
    <!-- /.table-header -->
    <div class="box">
        <div class="box-inner">
            <div class="box-title clearfix">
                <h2>Properties</h2>
                <div class="btn-group" role="group" *ngIf="selectedProperties.length > 0">
                    <button type="button" class="btn btn-danger" (click)="openDeleteModal()">Delete</button>
                </div>
            </div>
            <!-- /.box-title -->
            <div class="table-wrapper">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="min-width center">
                            <!--<input type="checkbox" (change)="toggleSelected($event)">-->
                        </th>
                        <th class="min-width center">Reference</th>
                        <th>Title</th>
                        <th class="min-width center">Category</th>
                        <th class="min-width center">Price</th>
                        <th class="min-width center">Visible</th>
                        <th class="min-width"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let property of properties">
                        <td class="min-width center">
                            <input type="checkbox" (change)="selectedProperty(property, $event)">
                        </td>
                        <td class="min-width center id">{{property.reference}}</td>
                        <td>
                            <div class="avatar squared"
                                 [ngStyle]="{'background-image' : property.photos.length > 0 ? 'url(' + property.photos[0].photoUrl + ')' : 'url()'}"></span></div>
                            <h2>
                                <a [routerLink]="['/dashboard/properties/', property.reference]">{{property.title}}</a>
                                <span *ngIf="property.location && property.location.fullAddress">{{property.location.fullAddress}}</span>
                            </h2>
                        </td>
                        <td class="min-width no-wrap center">
                            <span class="tag">{{property.propertyType}}</span>
                        </td>
                        <td class="min-width price" property-price [property]="property" [emptyValue]="'N/D'">

                        </td>
                        <td class="min-width center">
                            <div class="status">
                                <i class="fa fa-check" *ngIf="property.visible"></i>
                                <i class="fa fa-times" *ngIf="!property.visible"></i>
                            </div>
                            <!-- /.status -->
                        </td>
                        <td class="min-width">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" (click)="showActions($event)">
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <!--<a class="dropdown-item" href="#">Workflow Action</a>-->
                                    <a class="dropdown-item" [routerLink]="['/dashboard/properties/', property.reference]">Change Values</a>
                                    <a class="dropdown-item" (click)="openDeleteModal(property)">Delete Item</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.table-wrapper -->
    <ul class="pagination pull-right" *ngIf="properties.length >=! ITEMS_PER_PAGE">
        <ngb-pagination class="pagination pull-right"
                        [collectionSize]="totalItems"
                        [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                        [rotate]="true" [boundaryLinks]="true"
                        (pageChange)="loadPage(page)">
        </ngb-pagination>
    </ul>
</div>
<!-- /.container -->
