<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEstablishmentLabel" jhiTranslate="uplaceApp.establishment.home.createOrEditLabel">Create or edit a Establishment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <up-alert-error></up-alert-error>
        <div class="form-group" [hidden]="!establishment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="establishment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.establishment.m2Facade" for="field_m2Facade">M 2 Facade</label>
            <input type="number" class="form-control" name="m2Facade" id="field_m2Facade"
                [(ngModel)]="establishment.m2Facade" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.establishment.bathroom" for="field_bathroom">Bathroom</label>
            <select class="form-control" name="bathroom" [(ngModel)]="establishment.bathroom" id="field_bathroom" >
                <option value="YES">{{'uplaceApp.Select.YES' | translate}}</option>
                <option value="NO">{{'uplaceApp.Select.NO' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.Select.UNDEFINED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.establishment.use" for="field_use">Use</label>
            <select class="form-control" name="use" [(ngModel)]="establishment.use" id="field_use" >
                <option value="RESTAURANT">{{'uplaceApp.UseEstablishment.RESTAURANT' | translate}}</option>
                <option value="PUB">{{'uplaceApp.UseEstablishment.PUB' | translate}}</option>
                <option value="SHOP">{{'uplaceApp.UseEstablishment.SHOP' | translate}}</option>
                <option value="OTHER">{{'uplaceApp.UseEstablishment.OTHER' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="uplaceApp.establishment.energyCertificate" for="field_energyCertificate">Energy Certificate</label>
            <select class="form-control" name="energyCertificate" [(ngModel)]="establishment.energyCertificate" id="field_energyCertificate" >
                <option value="A">{{'uplaceApp.EnergyCertificate.A' | translate}}</option>
                <option value="B">{{'uplaceApp.EnergyCertificate.B' | translate}}</option>
                <option value="C">{{'uplaceApp.EnergyCertificate.C' | translate}}</option>
                <option value="D">{{'uplaceApp.EnergyCertificate.D' | translate}}</option>
                <option value="E">{{'uplaceApp.EnergyCertificate.E' | translate}}</option>
                <option value="F">{{'uplaceApp.EnergyCertificate.F' | translate}}</option>
                <option value="G">{{'uplaceApp.EnergyCertificate.G' | translate}}</option>
                <option value="UNDEFINED">{{'uplaceApp.EnergyCertificate.UNDEFINED' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
