<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Are you sure do you want to delete these properties?</p>
    <ul>
        <li *ngFor="let property of properties">{{property.title}} - {{property.reference}}</li>
    </ul>
    <p>This process can't be undone, are you sure?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="activeModal.close('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('delete');">Delete</button>
</div>
