<div class="carousel-fullwidth">
    <div class="carousel-fullwidth-inner">
        <div class="listing-boxes">
            <div class="row mb-30 carousel-items">
                <div class="col">
                    <div class="listing-box">
                        <div class="listing-box-inner">
                            <div class="listing-box-info">
                                Currently viewing <strong>8</strong> people.
                            </div>
                            <!-- /.listing-box-info -->
                            <a href="listings-detail.html" class="listing-box-image">
                                <span class="listing-box-image-content" style="background-image: url(/content/img/tmp/listing-2.jpg)"></span><!-- /.listing-box-image-content -->
                                <span class="listing-box-category tag">Gastronomy</span>
                                <span class="listing-box-rating">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star-o"></i>
                                                    </span>
                            </a><!-- /.listing-box-image -->
                            <div class="listing-box-content">
                                <h2><a href="listings-detail.html">Piano Lessons For Beginners</a></h2>
                                <h3>3071 Ash Avenue Saint Louis</h3>
                                <div class="actions">
                                    <div class="actions-button">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <!-- /.actions-button -->
                                    <ul class="actions-list">
                                        <li><a href="#">Add to compare</a></li>
                                        <li><a href="#">Add to favorites</a></li>
                                        <li><a href="#">Report listing</a></li>
                                    </ul>
                                    <!-- /.actions-list -->
                                </div>
                                <!-- /.actions -->
                            </div>
                            <!-- /.listing-box-content -->
                            <div class="listing-box-attributes">
                                <dl>
                                    <dt>Miles</dt>
                                    <dd>128K</dd>
                                    <dt>Engine</dt>
                                    <dd>Diesel</dd>
                                    <dt>Type</dt>
                                    <dd>Aston Martin</dd>
                                </dl>
                            </div>
                            <!-- /.listing-box-attributes -->
                            <div class="listing-box-attributes-icons">
                                <ul>
                                    <li><i class="fa fa-arrows"></i> <span>182sqft</span></li>
                                    <li><i class="fa fa-shower"></i> <span>2</span></li>
                                    <li><i class="fa fa-car"></i> <span>1</span></li>
                                </ul>
                            </div>
                            <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                    </div>
                    <!-- /.listing-box -->
                </div>
                <div class="col">
                    <div class="listing-box">
                        <div class="listing-box-inner">
                            <a href="listings-detail.html" class="listing-box-image">
                                <span class="listing-box-image-content" style="background-image: url(/content/img/tmp/listing-3.jpg)"></span><!-- /.listing-box-image-content -->
                                <span class="listing-box-category tag">Museum</span>
                                <span class="listing-box-rating">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                    </span>
                            </a><!-- /.listing-box-image -->
                            <div class="listing-box-content">
                                <h2><a href="listings-detail.html">Erb Lumber</a></h2>
                                <h3>2155 Philli Lane Mcalester</h3>
                                <div class="actions">
                                    <div class="actions-button">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <!-- /.actions-button -->
                                    <ul class="actions-list">
                                        <li><a href="#">Add to compare</a></li>
                                        <li><a href="#">Add to favorites</a></li>
                                        <li><a href="#">Report listing</a></li>
                                    </ul>
                                    <!-- /.actions-list -->
                                </div>
                                <!-- /.actions -->
                            </div>
                            <!-- /.listing-box-content -->
                            <div class="listing-box-attributes">
                                <dl>
                                    <dt>Miles</dt>
                                    <dd>128K</dd>
                                    <dt>Engine</dt>
                                    <dd>Diesel</dd>
                                    <dt>Type</dt>
                                    <dd>Aston Martin</dd>
                                </dl>
                            </div>
                            <!-- /.listing-box-attributes -->
                            <div class="listing-box-attributes-icons">
                                <ul>
                                    <li><i class="fa fa-arrows"></i> <span>182sqft</span></li>
                                    <li><i class="fa fa-shower"></i> <span>2</span></li>
                                    <li><i class="fa fa-car"></i> <span>1</span></li>
                                </ul>
                            </div>
                            <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                    </div>
                    <!-- /.listing-box -->
                </div>
                <div class="col">
                    <div class="listing-box">
                        <div class="listing-box-inner">
                            <a href="listings-detail.html" class="listing-box-image">
                                <span class="listing-box-image-content" style="background-image: url(/content/img/tmp/listing-4.jpg)"></span><!-- /.listing-box-image-content -->
                                <span class="listing-box-category tag">Workshops</span>
                                <span class="listing-box-rating">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                    </span>
                            </a><!-- /.listing-box-image -->
                            <div class="listing-box-content">
                                <h2><a href="listings-detail.html">Healthy Breakfast</a></h2>
                                <h3>1148 Elk Rd Little Tucson</h3>
                                <div class="actions">
                                    <div class="actions-button">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <!-- /.actions-button -->
                                    <ul class="actions-list">
                                        <li><a href="#">Add to compare</a></li>
                                        <li><a href="#">Add to favorites</a></li>
                                        <li><a href="#">Report listing</a></li>
                                    </ul>
                                    <!-- /.actions-list -->
                                </div>
                                <!-- /.actions -->
                            </div>
                            <!-- /.listing-box-content -->
                            <div class="listing-box-attributes">
                                <dl>
                                    <dt>Miles</dt>
                                    <dd>128K</dd>
                                    <dt>Engine</dt>
                                    <dd>Diesel</dd>
                                    <dt>Type</dt>
                                    <dd>Aston Martin</dd>
                                </dl>
                            </div>
                            <!-- /.listing-box-attributes -->
                            <div class="listing-box-attributes-icons">
                                <ul>
                                    <li><i class="fa fa-arrows"></i> <span>182sqft</span></li>
                                    <li><i class="fa fa-shower"></i> <span>2</span></li>
                                    <li><i class="fa fa-car"></i> <span>1</span></li>
                                </ul>
                            </div>
                            <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                    </div>
                    <!-- /.listing-box --></div>
                <div class="col">
                    <div class="listing-box">
                        <div class="listing-box-inner">
                            <a href="listings-detail.html" class="listing-box-image">
                                <span class="listing-box-image-content" style="background-image: url(/content/img/tmp/listing-12.jpg)"></span><!-- /.listing-box-image-content -->
                                <span class="listing-box-category tag">Marketing</span>
                                <span class="listing-box-rating">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                    </span>
                            </a><!-- /.listing-box-image -->
                            <div class="listing-box-content">
                                <h2><a href="listings-detail.html">T-Shirt Specialized Shop</a></h2>
                                <h3>2460 Ashwood Drive Farragut</h3>
                                <div class="actions">
                                    <div class="actions-button">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <!-- /.actions-button -->
                                    <ul class="actions-list">
                                        <li><a href="#">Add to compare</a></li>
                                        <li><a href="#">Add to favorites</a></li>
                                        <li><a href="#">Report listing</a></li>
                                    </ul>
                                    <!-- /.actions-list -->
                                </div>
                                <!-- /.actions -->
                            </div>
                            <!-- /.listing-box-content -->
                            <div class="listing-box-attributes">
                                <dl>
                                    <dt>Miles</dt>
                                    <dd>128K</dd>
                                    <dt>Engine</dt>
                                    <dd>Diesel</dd>
                                    <dt>Type</dt>
                                    <dd>Aston Martin</dd>
                                </dl>
                            </div>
                            <!-- /.listing-box-attributes -->
                            <div class="listing-box-attributes-icons">
                                <ul>
                                    <li><i class="fa fa-arrows"></i> <span>182sqft</span></li>
                                    <li><i class="fa fa-shower"></i> <span>2</span></li>
                                    <li><i class="fa fa-car"></i> <span>1</span></li>
                                </ul>
                            </div>
                            <!-- /.listing-box-attributes -->
                        </div>
                        <!-- /.listing-box-inner -->
                    </div>
                    <!-- /.listing-box -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.listing-boxes -->
    </div>
    <!-- /.carousel-fullwidth-inner -->
</div>
