<div class="pricing">
    <div class="row">
        <div class="pricing-col-wrapper col-lg-4">
            <div class="pricing-col">
                <h2 class="pricing-title">Startup</h2>
                <div class="pricing-price">
                    <span class="pricing-currency">$</span> <span class="pricing-value">8.90</span>
                </div>
                <!-- /.pricing-price -->
                <ul class="pricing-features">
                    <li>10 Properties</li>
                    <li>Up To 3 Agents</li>
                    <li>Agency Management</li>
                    <li>1 Year Updates</li>
                    <li>Mail Support</li>
                </ul>
                <!-- /.pricing-featured -->
                <a href="#" class="pricing-btn">Select Pricing Plan</a>
            </div>
            <!-- /.pricing-col -->
        </div>
        <!-- /.pricing-col-wrapper-->
        <div class="pricing-col-wrapper col-lg-4">
            <div class="pricing-col pricing-col-light" style="background-image: url('../../content/img/tmp/pricing-1.jpg');">
                <h2 class="pricing-title">Business</h2>
                <div class="pricing-price">
                    <span class="pricing-currency">$</span> <span class="pricing-value">19.90</span>
                </div>
                <!-- /.pricing-price -->
                <ul class="pricing-features">
                    <li>100 Properties</li>
                    <li>Up To 10 Agents</li>
                    <li>Agency Management</li>
                    <li>2 Year Updates</li>
                    <li>Mail Support</li>
                </ul>
                <!-- /.pricing-featured -->
                <a href="#" class="pricing-btn">Select Pricing Plan</a>
            </div>
            <!-- /.pricing-col -->
        </div>
        <!-- /.pricing-col-wrapper -->
        <div class="pricing-col-wrapper col-lg-4">
            <div class="pricing-col">
                <h2 class="pricing-title">Professional</h2>
                <div class="pricing-price">
                    <span class="pricing-currency">$</span> <span class="pricing-value">49.90</span>
                </div>
                <!-- /.pricing-price -->
                <ul class="pricing-features">
                    <li>Unlimited Properties</li>
                    <li>Unlimited Agents</li>
                    <li>Agency Management</li>
                    <li>Updates Forever</li>
                    <li>Mail Support</li>
                </ul>
                <!-- /.pricing-featured -->
                <a href="#" class="pricing-btn">Select Pricing Plan</a>
            </div>
            <!-- /.pricing-col -->
        </div>
        <!-- /.pricing-col-wrapper -->
    </div>
    <!-- /.row -->
</div>
